In [1]:
import pandas as pd
import numpy as np
import pickle
import seaborn as sns

from matplotlib import pyplot as plt
from medcat.cat import CAT
import re
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

C:\Users\BILAL\AppData\Roaming\Python\Python37\site-packages\medcat\cat.py:18: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm, trange
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\BILAL\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
!pip install nltk

In [2]:
# Load model pack and Create CAT - the main class from medcat used for concept annotation

model_pack_path = 'medcat/mc_modelpack_snomed_int_16_mar_2022_25be3857ba34bdd5'
cat = CAT.load_model_pack(model_pack_path)

Found an existing unziped model pack at: medcat\mc_modelpack_snomed_int_16_mar_2022_25be3857ba34bdd5, the provided zip will not be touched.
{
  "Model ID": "25be3857ba34bdd5",
  "Last Modifed On": "16 March 2022",
  "History (from least to most recent)": [
    "a474096eb4566638",
    "009617d7ff372682"
  ],
  "Description": "SNOMED INT enriched with UMLS and trained unsupervised on MIMIC-III",
  "Source Ontology": "SnomedCT_InternationalRF2_PRODUCTION_20210131T120000Z",
  "Location": "MedCAT Rosalind machine, available for public download from https://github.com/CogStack/MedCAT",
  "MetaCAT models": {
    "Status": "Detects is a concept Affirmed or Negated/Hypothetical"
  },
  "Basic CDB Stats": {
    "Number of concepts": 354448,
    "Number of names": 2049216,
    "Number of concepts that received training": 29674,
    "Number of seen training examples in total": 20585988,
    "Average training examples per concept": 693.7382220125362
  },
  "Performance": {
    "ner": {},
    "meta": {}
  },
  "Important Parameters (Partial view, all available in cat.config)": {
    "config.ner['min_name_len']": {
      "value": 3,
      "description": "Minimum detection length (found terms/mentions shorter than this will not be detected)."
    },
    "config.ner['upper_case_limit_len']": {
      "value": 4,
      "description": "All detected terms shorter than this value have to be uppercase, otherwise they will be ignored."
    },
    "config.linking['similarity_threshold']": {
      "value": 0.2,
      "description": "If the confidence of the model is lower than this a detection will be ignore."
    },
    "config.general['spell_check']": {
      "value": true,
      "description": "Is spell checking enabled."
    },
    "config.general['spell_check_len_limit']": {
      "value": 7,
      "description": "Words shorter than this will not be spell checked."
    }
  }
}

In [2]:
test_notes = pd.read_csv('1000_testing_notes_with_smallest_size.csv')
test_notes

,Unnamed: 0,hadm_id,text,text_length
0,0,20019282,\nName: ___ Unit No: ___\n...,2480
1,1,20022343,\nName: ___ Unit No: _...,3001
2,2,20025548,\nName: ___ Unit No: ___\n...,2961
3,3,20027416,\nName: ___ Unit No: ___\n...,1059
4,4,20028418,\nName: ___ Unit No: ___\n \...,1091
...,...,...,...,...
1010,1010,29980814,\nName: ___ Unit No: _...,3329
1011,1011,29980930,\nName: ___ Unit No: ___...,1094
1012,1012,29987299,\nName: ___ Unit No: ___\...,2595
1013,1013,29988390,\nName: ___ Unit No: ...,3013
1014,1014,29990058,\nName: ___ Unit No: ___\n...,3051

In [3]:
test_notes.drop(columns = ['Unnamed: 0'], inplace = True)

In [5]:
unique_hadm_notes = test_notes[['hadm_id', 'text']].drop_duplicates(subset='hadm_id')

In [6]:
unique_hadm_notes

       hadm_id                                               text
0     20019282   \nName:  ___                 Unit No:   ___\n...
1     20022343   \nName:  ___                     Unit No:   _...
2     20025548   \nName:  ___                 Unit No:   ___\n...
3     20027416   \nName:  ___                 Unit No:   ___\n...
4     20028418   \nName:  ___               Unit No:   ___\n \...
...        ...                                                ...
1010  29980814   \nName:  ___                     Unit No:   _...
1011  29980930   \nName:  ___                   Unit No:   ___...
1012  29987299   \nName:  ___                  Unit No:   ___\...
1013  29988390   \nName:  ___                      Unit No:   ...
1014  29990058   \nName:  ___                 Unit No:   ___\n...

[1015 rows x 2 columns]

In [7]:
unique_hadm_notes = unique_hadm_notes.reset_index(drop = True)

In [8]:
unique_hadm_notes.text[0]

' \nName:  ___                 Unit No:   ___\n \nAdmission Date:  ___              Discharge Date:   ___\n \nDate of Birth:  ___             Sex:   M\n \nService: ORTHOPAEDICS\n \nAllergies: \nerythromycin base\n \nAttending: ___.\n \nChief Complaint:\nLeft ankle fracture\n \nMajor Surgical or Invasive Procedure:\nORIF left ankle ___\n \nHistory of Present Illness:\n___ yr old man fall down 3 stairs while holding lumbar at \nconstruction\njob, resulting in immediate L ankle pain. ED ankle fracture, \nsurgery performed\n\n \nPast Medical History:\nPrevious R ankle fracture\nRLE cellulitis\nOsteoarthritis\n\n \nSocial History:\n___\nFamily History:\nN/A\n \nPhysical Exam:\nAOXO3\nsplint intact, positive CSM\nPain well controlled, no N/V\n\n \nPertinent Results:\n___ 08:28PM   WBC-9.5 RBC-4.49* HGB-13.7 HCT-41.0 MCV-91 \nMCH-30.5 MCHC-33.4 RDW-13.8 RDWSD-46.7*\n___ 08:28PM   GLUCOSE-96 UREA N-13 CREAT-0.7 SODIUM-145 \nPOTASSIUM-4.1 CHLORIDE-108 TOTAL CO2-24 ANION GAP-13\n___ 08:28PM   CALCIUM-9.0 PHOSPHATE-3.5 MAGNESIUM-1.9\n \nBrief Hospital Course:\nTaken to operating room and underwent surgical fixation of ankle \nfracture on ___. No complications. Post op doing well, pain \nwell controlled. Cleared by ___ to go home without services\n \nMedications on Admission:\nThe Preadmission Medication list is accurate and complete.\n1. Multivitamins 1 TAB PO DAILY \n2. Naproxen 500 mg PO Q8H:PRN Pain - Mild \n\n \nDischarge Medications:\n1.  Acetaminophen 1000 mg PO Q8H \nRX *acetaminophen 500 mg 2 tablet(s) by mouth every eight (8) \nhours Disp #*40 Tablet Refills:*0 \n2.  Aspirin 325 mg PO DAILY \nRX *aspirin 325 mg 1 tablet(s) by mouth once a day Disp #*14 \nTablet Refills:*0 \n3.  Docusate Sodium 100 mg PO BID \nRX *docusate sodium 100 mg 1 capsule(s) by mouth twice a day \nDisp #*30 Capsule Refills:*0 \n4.  Ondansetron 4 mg PO Q8H:PRN severe nausea \nRX *ondansetron 4 mg 1 tablet(s) by mouth every six (6) hours \nDisp #*8 Tablet Refills:*0 \n5.  OxyCODONE (Immediate Release) ___ mg PO Q4H:PRN Pain - \nModerate \nRX *oxycodone 5 mg ___ tablet(s) by mouth every four (4) hours- \n(6) hours Disp #*60 Tablet Refills:*0 \n6.  Multivitamins 1 TAB PO DAILY  \n\n \nDischarge Disposition:\nHome\n \nDischarge Diagnosis:\nleft ankle fracture, s/p ORIF ___\n \nDischarge Condition:\nMental Status: Clear and coherent.\nLevel of Consciousness: Alert and interactive.\nActivity Status: Ambulatory - Independent.\n \nDischarge Instructions:\nNWB to LLE\nKeep splint dry, in place\nElevate LLE\nFollow up in ___ clinic in 2 weeks\n \nFollowup Instructions:\n___\n'

In [9]:
medical_stopwords = stopwords.words("english")


medical_stopwords.extend(['speaking', 'none', 'time', 'flush'])

def process_clinical_note(clinical_note):
    # Define the sections to remove
    sections_to_remove = [
        "Name:",
        "Unit No:",
        "Admission Date:",
        "Discharge Date:",
        "Date of Birth:",
        "Sex:",
        "Service:",
        "Allergies:",
        "Attending:",
        "Past Medical History:",
        "Social History:",
        "Family History:",
        "Vitals:",
        "Pertinent Results:",
        "Medications on Admission:",
        "Discharge Medications:",
        "Discharge Disposition:",
        "Discharge Condition:",
        "Discharge Instructions:",
        "Followup Instructions:"
    ]

    # Split the clinical note into lines
    lines = clinical_note.split('\n')

    # Initialize the processed note
    processed_note = []

    # Flag to exclude lines within unwanted sections
    exclude_section = False

    # Iterate through the lines and filter unwanted sections
    for line in lines:
        if any(section in line for section in sections_to_remove):
            exclude_section = True
        elif line.strip() == "":
            # Empty lines separate sections, so reset the flag
            exclude_section = False

        if not exclude_section:
            processed_note.append(line)

    # Join the lines to create the final note
    final_note = '\n '.join(processed_note)
    
    sections_to_remove = [
        r'chief complaint',
        r'history of present illness',
        r'Major Surgical or Invasive Procedure',
        r'physical exam',
        r'brief hospital course',
        r'Discharge',
        
        r'completed by',
    ]
    
    for pattern in sections_to_remove:
        final_note = re.sub(pattern, '', final_note, flags=re.IGNORECASE)

    # Define patterns to identify negations
    negation_patterns = [
        r'no\s+\w+',
        r'not\s+\w+',
        r'did\s+not\s+have\s+\w+'
    ]
    
    # Filter out sentences with negations
    sentences = [sentence for sentence in final_note.split('\n') if not any(re.search(pattern, sentence, re.IGNORECASE) for pattern in negation_patterns)]

    # Remove keys and special characters
    cleaned_note = re.sub(r'\w+:', '', '\n'.join(sentences), flags=re.IGNORECASE)  # Remove keys (case-insensitive)
    cleaned_note = re.sub(r'[^a-zA-Z\s]', '', cleaned_note)  # Remove special characters
    # Tokenize the note into sentences based on '\n'
    sentences = [sentence.strip() for sentence in cleaned_note.split('\n') if sentence.strip()]

    # Remove stop words and empty sentences
    sentences = [
        ' '.join(word for word in sentence.split() if word.lower() not in medical_stopwords)
        for sentence in sentences
    ]
    sentences = [item for item in sentences if item != '']
    
    final_text = '. '.join(sentence for sentence in sentences)
    return final_text

In [10]:
process_clinical_note(unique_hadm_notes.text[0])

'Left ankle fracture. ORIF left ankle. yr old man fall stairs holding lumbar. construction. job resulting immediate L ankle pain ED ankle fracture. surgery performed. AOXO. splint intact positive CSM. Taken operating room underwent surgical fixation ankle. well controlled Cleared go home without services. left ankle fracture sp ORIF'

In [11]:
unique_hadm_notes['text'] = unique_hadm_notes['text'].apply(process_clinical_note)
unique_hadm_notes

       hadm_id                                               text
0     20019282  Left ankle fracture. ORIF left ankle. yr old m...
1     20022343  Preterm labor. repeat low transverse cesarean ...
2     20025548  contractions. SVD. Pt arrives co painful contr...
3     20027416  neck cancer. direct laryngoscopy robotic hemig...
4     20028418  admission chemo. Pt tolerated desens without a...
...        ...                                                ...
1010  29980814  Postpartum incision check. partial opening pac...
1011  29980930  elective chemotherapy. Pt presented elective c...
1012  29987299  attach. BLOOD WBC RBC Hgb Hct. MCV MCH MCHC RD...
1013  29988390  acute cholecystitis. laparoscopic cholecystect...
1014  29990058  induction labor. primary cesarean delivery. Af...

[1015 rows x 2 columns]

In [12]:
icd10_data = {
    'hadm_id': [],
    'icd10_codes': []
}

In [13]:
i = 0
for index, row in unique_hadm_notes.iterrows():
    i +=1
    
    if i%100 ==0:
        print(f'{i} notes have been processed!', '\n')
        
        
    single_note = row['text']
    hadm_id = row['hadm_id']

    # Get the entities from the text
    all_entities = cat.get_entities(single_note)

    icd_codes = set()  # Using a set to automatically remove duplicates

    for entity_id, entity_data in all_entities['entities'].items():
        icd10 = entity_data.get('icd10', [])
        for code in icd10:
            if code:  # Check if the code is not an empty string
                icd_codes.add(code)

    icd10_data['hadm_id'].append(hadm_id)
    icd10_data['icd10_codes'].append(list(icd_codes))

100 notes have been processed!

200 notes have been processed!

300 notes have been processed!

400 notes have been processed!

500 notes have been processed!

600 notes have been processed!

700 notes have been processed!

800 notes have been processed!

900 notes have been processed!

1000 notes have been processed!

In [14]:
# Create a DataFrame from the processed data
df_icd10 = pd.DataFrame(icd10_data)
df_icd10

       hadm_id                                        icd10_codes
0     20019282                                   [M79.67, S82.80]
1     20022343                       [O60.0, O32.1, R52.9, L53.9]
2     20025548                  [A09.9, R10.1, K56.6, R52.9, R11]
3     20027416                              [C76.0, R22.1, C80.9]
4     20028418                                            [D39.1]
...        ...                                                ...
1010  29980814  [R76.1, E16.2, T14.0, R68.8, R58, R79.8, R06.0...
1011  29980930                                                 []
1012  29987299                                [D61.9, R31, D47.1]
1013  29988390  [N23, K81.0, K81.9, K80.5, R10.4, D72.8, R68.8...
1014  29990058             [O82.9, R58, Z82.4, R52.9, I10, O69.8]

[1015 rows x 2 columns]

In [15]:
def reformat(code):
    code = ''.join(code.split('.'))
    code = code[:3] + '.'
    return code

In [16]:
df_icd10['icd10_codes'] = df_icd10['icd10_codes'].apply(lambda lst: [reformat(x) for x in lst])
df_icd10

       hadm_id                                        icd10_codes
0     20019282                                       [M79., S82.]
1     20022343                           [O60., O32., R52., L53.]
2     20025548                     [A09., R10., K56., R52., R11.]
3     20027416                                 [C76., R22., C80.]
4     20028418                                             [D39.]
...        ...                                                ...
1010  29980814  [R76., E16., T14., R68., R58., R79., R06., D59...
1011  29980930                                                 []
1012  29987299                                 [D61., R31., D47.]
1013  29988390  [N23., K81., K81., K80., R10., D72., R68., R50...
1014  29990058               [O82., R58., Z82., R52., I10., O69.]

[1015 rows x 2 columns]

In [60]:
df_icd10.to_csv('test_set_mapped_icd_hadmids_1k.csv')

unique_hadm_notes.to_csv('test_set_unique_notes_hadmids_1k.csv')

In [17]:
df_icd10.dtypes

hadm_id         int64
icd10_codes    object
dtype: object

In [18]:
#Make this on category level:
df_icd10

       hadm_id                                        icd10_codes
0     20019282                                       [M79., S82.]
1     20022343                           [O60., O32., R52., L53.]
2     20025548                     [A09., R10., K56., R52., R11.]
3     20027416                                 [C76., R22., C80.]
4     20028418                                             [D39.]
...        ...                                                ...
1010  29980814  [R76., E16., T14., R68., R58., R79., R06., D59...
1011  29980930                                                 []
1012  29987299                                 [D61., R31., D47.]
1013  29988390  [N23., K81., K81., K80., R10., D72., R68., R50...
1014  29990058               [O82., R58., Z82., R52., I10., O69.]

[1015 rows x 2 columns]

In [19]:
df_icd10.drop_duplicates(subset = ['hadm_id'], inplace = True)

In [8]:
icd_codes_with_smallest_size_notes = pd.read_csv('icd_codes_for_1000_testing_notes_with_smallest_size.csv')
icd_codes_with_smallest_size_notes.drop(columns = ['Unnamed: 0'], inplace = True)
icd_codes_with_smallest_size_notes

       hadm_id icd_code
0     20019282     S82.
1     20019282     Z72.
2     20019282     W10.
3     20019282     Y92.
4     20022343     O60.
...        ...      ...
8580  29990058     Z30.
8581  29990058     Z23.
8582  29990058     Z86.
8583  29990058     K21.
8584  29990058     Z59.

[8585 rows x 2 columns]

In [9]:
icd_codes_for_100_testing_notes = pd.merge(sample_notes_100,icd_codes_with_smallest_size_notes, how='inner', left_on = 'hadm_id', right_on = 'hadm_id' )

In [11]:
icd_codes_for_100_testing_notes.drop(columns = ['text'], inplace = True)

In [13]:
icd_codes_for_100_testing_notes.to_csv('icd_codes_for_100_testing_notes.csv')

In [14]:
icd_codes_for_100_testing_notes

      hadm_id  text_length icd_code
0    20019282         2480     S82.
1    20019282         2480     Z72.
2    20019282         2480     W10.
3    20019282         2480     Y92.
4    20022343         3001     O60.
..        ...          ...      ...
892  20947071         2151     J44.
893  20947071         2151     E11.
894  20947071         2151     Z78.
895  20947071         2151     R60.
896  20947071         2151     Z51.

[897 rows x 3 columns]

In [15]:
sample_notes_100

     hadm_id                                               text  text_length
0   20019282   \nName:  ___                 Unit No:   ___\n...         2480
1   20022343   \nName:  ___                     Unit No:   _...         3001
2   20025548   \nName:  ___                 Unit No:   ___\n...         2961
3   20027416   \nName:  ___                 Unit No:   ___\n...         1059
4   20028418   \nName:  ___               Unit No:   ___\n \...         1091
..       ...                                                ...          ...
95  20919508   \nName:  ___            Unit No:   ___\n \nAd...         3484
96  20920499  Name:  ___             Unit No:  ___\n\nDate o...         3320
97  20927529   \nName:  ___                   Unit No:   ___...         3331
98  20928751   \nName:  ___                   Unit No:   ___...         3097
99  20947071   \nName:  ___                   Unit No:   ___...         2151

[100 rows x 3 columns]

In [21]:
final_notes_with_icd_codes = pd.merge(unique_hadm_notes, icd_codes_with_smallest_size_notes, on='hadm_id', how='left')
final_notes_with_icd_codes

       hadm_id                                               text icd_code
0     20019282  Left ankle fracture. ORIF left ankle. yr old m...     S82.
1     20019282  Left ankle fracture. ORIF left ankle. yr old m...     Z72.
2     20019282  Left ankle fracture. ORIF left ankle. yr old m...     W10.
3     20019282  Left ankle fracture. ORIF left ankle. yr old m...     Y92.
4     20022343  Preterm labor. repeat low transverse cesarean ...     O60.
...        ...                                                ...      ...
8580  29990058  induction labor. primary cesarean delivery. Af...     Z30.
8581  29990058  induction labor. primary cesarean delivery. Af...     Z23.
8582  29990058  induction labor. primary cesarean delivery. Af...     Z86.
8583  29990058  induction labor. primary cesarean delivery. Af...     K21.
8584  29990058  induction labor. primary cesarean delivery. Af...     Z59.

[8585 rows x 3 columns]

In [69]:

unique_icd_codes = set(final_notes_with_icd_codes['icd_code']) #.union(set(icd_code for icd_list in df_icd10['icd10_codes'] for icd_code in icd_list))

In [70]:
len(unique_icd_codes)

769

In [71]:
final_notes_with_icd_codes.icd_code.nunique()

769

In [72]:
# Step 3: Initialize TP, FP, FN, TN counts
counts = {icd_code: (0, 0, 0, 0) for icd_code in unique_icd_codes}

In [73]:
i = 0
for icd_code in unique_icd_codes:
    i+=1
    if i%100 == 0:
        print(f'{i} codes are done!')
    
    true_icd_codes = final_notes_with_icd_codes[final_notes_with_icd_codes['icd_code'] == icd_code]['hadm_id'].values
    predicted_icd_codes = df_icd10[df_icd10['icd10_codes'].apply(lambda x: icd_code in x)]['hadm_id'].values

    TP = np.intersect1d(true_icd_codes, predicted_icd_codes)
    FP = np.setdiff1d(predicted_icd_codes, true_icd_codes)
    FN = np.setdiff1d(true_icd_codes, predicted_icd_codes)
    TN = len(np.union1d(predicted_icd_codes, true_icd_codes)) -len(TP) -len(FP) -len(FN)


    counts[icd_code] = (len(TP), len(FP), len(FN), TN)

100 codes are done!
200 codes are done!
300 codes are done!
400 codes are done!
500 codes are done!
600 codes are done!
700 codes are done!

In [74]:
counts

{'K13.': (0, 56, 1, 0),
 'N11.': (0, 0, 1, 0),
 'N97.': (1, 0, 0, 0),
 'S31.': (0, 2, 2, 0),
 'D62.': (1, 0, 30, 0),
 'L90.': (0, 3, 1, 0),
 'K31.': (1, 3, 6, 0),
 'C91.': (0, 0, 6, 0),
 'W25.': (0, 0, 3, 0),
 'T84.': (0, 0, 9, 0),
 'M84.': (1, 0, 5, 0),
 'O10.': (0, 0, 18, 0),
 'K55.': (3, 0, 7, 0),
 'T71.': (1, 0, 1, 0),
 'L29.': (0, 4, 2, 0),
 'Z33.': (1, 73, 3, 0),
 'Z12.': (0, 0, 3, 0),
 'I10.': (7, 31, 217, 0),
 'G90.': (0, 1, 3, 0),
 'D18.': (1, 1, 1, 0),
 'R58.': (1, 151, 0, 0),
 'O41.': (7, 9, 6, 0),
 'W11.': (0, 0, 3, 0),
 'L50.': (0, 2, 1, 0),
 'A54.': (0, 0, 1, 0),
 'R59.': (1, 11, 4, 0),
 'E28.': (0, 0, 3, 0),
 'V48.': (0, 0, 3, 0),
 'G51.': (0, 1, 1, 0),
 'N48.': (2, 0, 1, 0),
 'K74.': (7, 4, 4, 0),
 'R78.': (0, 0, 4, 0),
 'D57.': (5, 2, 4, 0),
 'Z78.': (0, 0, 15, 0),
 'D24.': (0, 2, 2, 0),
 'H47.': (0, 0, 1, 0),
 'Z28.': (0, 0, 2, 0),
 'J20.': (0, 1, 1, 0),
 'G92.': (2, 0, 5, 0),
 'Z80.': (0, 0, 24, 0),
 'T43.': (0, 0, 3, 0),
 'J47.': (0, 0, 2, 0),
 'I65.': (2, 0, 5, 0),
 'R20.': (3, 75, 5, 0),
 'H91.': (0, 1, 4, 0),
 'D61.': (3, 0, 1, 0),
 'C50.': (2, 10, 4, 0),
 'H80.': (0, 0, 1, 0),
 'N64.': (0, 3, 5, 0),
 'S62.': (3, 1, 14, 0),
 'Y82.': (0, 0, 1, 0),
 'K08.': (0, 2, 1, 0),
 'J11.': (1, 3, 1, 0),
 'K58.': (1, 1, 3, 0),
 'R00.': (13, 28, 12, 0),
 'K80.': (9, 2, 6, 0),
 'X31.': (0, 0, 1, 0),
 'E05.': (0, 1, 1, 0),
 'G80.': (0, 0, 3, 0),
 'M18.': (0, 0, 1, 0),
 'O12.': (0, 0, 2, 0),
 'R05.': (1, 25, 2, 0),
 'C08.': (0, 0, 1, 0),
 'W51.': (0, 0, 1, 0),
 'G81.': (2, 2, 3, 0),
 'D64.': (6, 11, 39, 0),
 'E27.': (1, 0, 2, 0),
 'D70.': (0, 1, 1, 0),
 'W69.': (0, 0, 1, 0),
 'O66.': (2, 0, 1, 0),
 'R19.': (1, 73, 8, 0),
 'S70.': (0, 1, 2, 0),
 'R56.': (3, 24, 3, 0),
 'M86.': (0, 5, 2, 0),
 'C90.': (0, 0, 3, 0),
 'J35.': (1, 0, 3, 0),
 'L01.': (1, 0, 0, 0),
 'G43.': (5, 16, 13, 0),
 'S68.': (0, 0, 9, 0),
 'O62.': (2, 7, 10, 0),
 'R74.': (0, 0, 9, 0),
 'E23.': (1, 1, 3, 0),
 'D49.': (0, 0, 2, 0),
 'S63.': (0, 0, 3, 0),
 'S73.': (0, 1, 2, 0),
 'R42.': (2, 49, 5, 0),
 'N31.': (0, 0, 1, 0),
 'L76.': (0, 0, 8, 0),
 'W20.': (0, 0, 2, 0),
 'Z87.': (0, 0, 186, 0),
 'S20.': (0, 0, 1, 0),
 'R06.': (6, 86, 4, 0),
 'Z04.': (0, 0, 1, 0),
 'E83.': (3, 5, 13, 0),
 'W23.': (0, 0, 2, 0),
 'N35.': (1, 0, 0, 0),
 'Y92.': (0, 0, 245, 0),
 'D68.': (4, 5, 17, 0),
 'R79.': (0, 12, 9, 0),
 'S92.': (3, 0, 2, 0),
 'L03.': (15, 7, 9, 0),
 'S26.': (0, 0, 1, 0),
 'M75.': (4, 3, 6, 0),
 'O71.': (0, 0, 8, 0),
 'R51.': (5, 44, 8, 0),
 'M26.': (0, 0, 3, 0),
 'S66.': (0, 0, 10, 0),
 'T21.': (1, 0, 0, 0),
 'M87.': (0, 0, 3, 0),
 'S32.': (3, 0, 5, 0),
 'W29.': (0, 0, 3, 0),
 'N25.': (0, 0, 1, 0),
 'R50.': (4, 160, 6, 0),
 'F39.': (0, 2, 3, 0),
 'R41.': (1, 14, 10, 0),
 'I44.': (0, 2, 5, 0),
 'F44.': (1, 15, 0, 0),
 'D86.': (1, 0, 0, 0),
 'Z21.': (0, 0, 13, 0),
 'T85.': (1, 1, 8, 0),
 'D12.': (0, 1, 3, 0),
 'R93.': (0, 0, 2, 0),
 'W08.': (0, 0, 1, 0),
 'M13.': (4, 11, 2, 0),
 'C67.': (2, 0, 6, 0),
 'I61.': (5, 2, 12, 0),
 'C24.': (0, 0, 2, 0),
 'G89.': (0, 0, 51, 0),
 'Z88.': (2, 2, 23, 0),
 'Z15.': (0, 0, 2, 0),
 'R33.': (6, 2, 20, 0),
 'T40.': (0, 0, 4, 0),
 'F15.': (0, 0, 2, 0),
 'O86.': (0, 0, 13, 0),
 'E21.': (0, 1, 2, 0),
 'I42.': (2, 2, 3, 0),
 'R73.': (0, 3, 9, 0),
 'M51.': (2, 6, 7, 0),
 'T23.': (0, 0, 1, 0),
 'A08.': (1, 1, 1, 0),
 'R10.': (20, 129, 10, 0),
 'S00.': (0, 0, 5, 0),
 'F19.': (0, 2, 2, 0),
 'I46.': (10, 10, 5, 0),
 'O60.': (12, 15, 10, 0),
 'T83.': (0, 0, 1, 0),
 'F64.': (2, 1, 1, 0),
 'C78.': (7, 2, 26, 0),
 'Q90.': (1, 0, 1, 0),
 'N94.': (0, 2, 1, 0),
 'T78.': (2, 12, 0, 0),
 'C43.': (0, 0, 1, 0),
 'E75.': (0, 0, 1, 0),
 'C77.': (0, 0, 7, 0),
 'J69.': (2, 1, 6, 0),
 'C79.': (4, 2, 21, 0),
 'O75.': (0, 0, 9, 0),
 'N65.': (0, 0, 3, 0),
 'Z86.': (3, 25, 79, 0),
 'I12.': (0, 0, 34, 0),
 'L08.': (0, 8, 3, 0),
 'F11.': (1, 0, 15, 0),
 'Q28.': (1, 2, 0, 0),
 'R55.': (3, 10, 6, 0),
 'D72.': (4, 16, 10, 0),
 'K85.': (3, 8, 0, 0),
 'O42.': (7, 5, 9, 0),
 'R23.': (0, 6, 1, 0),
 'I22.': (0, 0, 1, 0),
 'Z97.': (0, 0, 2, 0),
 'K27.': (0, 0, 1, 0),
 'L02.': (5, 5, 7, 0),
 'I34.': (0, 0, 8, 0),
 'G91.': (3, 1, 4, 0),
 'K60.': (1, 0, 0, 0),
 'F32.': (12, 8, 88, 0),
 'M65.': (6, 1, 3, 0),
 'C64.': (0, 0, 1, 0),
 'T41.': (0, 0, 1, 0),
 'E03.': (16, 2, 58, 0),
 'R07.': (5, 58, 3, 0),
 'S82.': (16, 3, 8, 0),
 'M97.': (0, 0, 1, 0),
 'F63.': (0, 0, 2, 0),
 'R91.': (0, 7, 5, 0),
 'X83.': (0, 0, 2, 0),
 'K72.': (4, 2, 14, 0),
 'O23.': (0, 0, 7, 0),
 'S21.': (0, 1, 1, 0),
 'J40.': (1, 0, 0, 0),
 'F54.': (0, 0, 1, 0),
 'D51.': (0, 0, 1, 0),
 'I25.': (21, 4, 46, 0),
 'K35.': (4, 0, 0, 0),
 'R03.': (0, 2, 6, 0),
 'O91.': (1, 0, 1, 0),
 'O45.': (1, 2, 5, 0),
 'Z23.': (0, 0, 40, 0),
 'N99.': (0, 0, 3, 0),
 'M81.': (2, 1, 21, 0),
 'Q71.': (0, 0, 1, 0),
 'C85.': (0, 1, 2, 0),
 'Y65.': (0, 0, 1, 0),
 'R45.': (4, 27, 6, 0),
 'R14.': (0, 17, 1, 0),
 'L30.': (1, 0, 1, 0),
 'K92.': (5, 30, 8, 0),
 'J91.': (0, 0, 3, 0),
 'D75.': (0, 0, 3, 0),
 'R25.': (0, 30, 2, 0),
 'Z48.': (0, 0, 2, 0),
 'Q61.': (0, 0, 1, 0),
 'G60.': (0, 0, 1, 0),
 'K51.': (0, 0, 5, 0),
 'Y99.': (0, 0, 2, 0),
 'K65.': (1, 3, 2, 0),
 'I60.': (1, 5, 1, 0),
 'F40.': (0, 0, 1, 0),
 'F33.': (0, 1, 3, 0),
 'W34.': (0, 1, 2, 0),
 'C76.': (0, 2, 1, 0),
 'S06.': (10, 4, 17, 0),
 'S80.': (1, 2, 4, 0),
 'R47.': (2, 3, 2, 0),
 'I36.': (0, 0, 1, 0),
 'Y73.': (0, 0, 1, 0),
 'I50.': (7, 3, 32, 0),
 'O13.': (12, 2, 9, 0),
 'E43.': (0, 0, 3, 0),
 'Z89.': (0, 0, 11, 0),
 'M41.': (0, 0, 4, 0),
 'C44.': (0, 2, 2, 0),
 'O72.': (16, 2, 9, 0),
 'Z30.': (0, 0, 4, 0),
 'V29.': (0, 0, 1, 0),
 'Z16.': (0, 0, 4, 0),
 'O70.': (0, 1, 33, 0),
 'T68.': (0, 0, 2, 0),
 'K61.': (0, 0, 1, 0),
 'M24.': (2, 1, 5, 0),
 'Z74.': (0, 0, 2, 0),
 'C09.': (2, 0, 0, 0),
 'R60.': (1, 30, 4, 0),
 'O30.': (3, 0, 10, 0),
 'H52.': (0, 0, 1, 0),
 'Z91.': (0, 1, 25, 0),
 'O28.': (0, 0, 1, 0),
 'Z82.': (2, 53, 3, 0),
 'S67.': (0, 1, 4, 0),
 'R40.': (7, 25, 13, 0),
 'W06.': (1, 0, 0, 0),
 'W45.': (0, 0, 1, 0),
 'S54.': (0, 1, 1, 0),
 'N32.': (1, 3, 2, 0),
 'N52.': (0, 0, 3, 0),
 'I08.': (0, 0, 2, 0),
 'C71.': (0, 0, 1, 0),
 'A41.': (10, 13, 12, 0),
 'O09.': (0, 0, 36, 0),
 'J84.': (2, 0, 1, 0),
 'H81.': (0, 0, 2, 0),
 'H53.': (1, 10, 0, 0),
 'G58.': (0, 1, 2, 0),
 'N61.': (3, 1, 1, 0),
 'L98.': (2, 8, 2, 0),
 'E87.': (17, 3, 46, 0),
 'F10.': (7, 0, 25, 0),
 'O69.': (5, 0, 23, 0),
 'D89.': (0, 0, 1, 0),
 'M48.': (1, 1, 13, 0),
 'Z98.': (0, 0, 31, 0),
 'C15.': (0, 0, 1, 0),
 'F14.': (0, 0, 8, 0),
 'N62.': (2, 1, 0, 0),
 'F17.': (0, 1, 73, 0),
 'M53.': (1, 0, 0, 0),
 'N71.': (0, 5, 1, 0),
 'C92.': (0, 0, 1, 0),
 'I77.': (1, 4, 4, 0),
 'I74.': (2, 3, 0, 0),
 'F30.': (1, 0, 0, 0),
 'D46.': (0, 0, 1, 0),
 'M62.': (2, 10, 8, 0),
 'I81.': (0, 0, 2, 0),
 'K26.': (1, 0, 2, 0),
 'I35.': (5, 4, 8, 0),
 'J02.': (1, 3, 2, 0),
 'J30.': (0, 2, 7, 0),
 'R11.': (21, 112, 20, 0),
 'O36.': (4, 20, 18, 0),
 'D66.': (2, 0, 1, 0),
 'T70.': (0, 2, 1, 0),
 'S56.': (0, 0, 3, 0),
 'N17.': (8, 0, 45, 0),
 'K22.': (5, 3, 6, 0),
 'Z85.': (0, 0, 111, 0),
 'O26.': (0, 0, 49, 0),
 'F90.': (0, 1, 7, 0),
 'D34.': (0, 0, 1, 0),
 'J15.': (0, 0, 1, 0),
 'S34.': (0, 0, 1, 0),
 'J39.': (3, 2, 1, 0),
 'L12.': (0, 0, 1, 0),
 'Z72.': (1, 12, 18, 0),
 'A63.': (0, 0, 1, 0),
 'C26.': (0, 0, 2, 0),
 'J38.': (3, 1, 7, 0),
 'I48.': (31, 2, 43, 0),
 'F41.': (15, 17, 91, 0),
 'K66.': (2, 3, 1, 0),
 'C18.': (5, 4, 3, 0),
 'R52.': (0, 478, 3, 0),
 'C56.': (0, 0, 6, 0),
 'I51.': (0, 14, 3, 0),
 'J43.': (0, 0, 7, 0),
 'Y04.': (0, 1, 2, 0),
 'H35.': (0, 0, 2, 0),
 'H90.': (0, 0, 2, 0),
 'I83.': (0, 1, 4, 0),
 'X16.': (0, 0, 1, 0),
 'B96.': (0, 0, 19, 0),
 'O00.': (3, 1, 0, 0),
 'D11.': (0, 0, 2, 0),
 'K76.': (5, 7, 11, 0),
 'D27.': (0, 0, 2, 0),
 'C55.': (0, 0, 1, 0),
 'F05.': (0, 3, 7, 0),
 'V00.': (0, 0, 1, 0),
 'I80.': (0, 16, 1, 0),
 'J18.': (8, 13, 4, 0),
 'M40.': (0, 0, 1, 0),
 'I68.': (0, 0, 1, 0),
 'O90.': (2, 0, 15, 0),
 'F12.': (1, 1, 8, 0),
 'Z79.': (0, 0, 122, 0),
 'J81.': (2, 4, 3, 0),
 'T42.': (0, 0, 4, 0),
 'M79.': (3, 38, 20, 0),
 'Y79.': (0, 0, 1, 0),
 'Y69.': (0, 0, 1, 0),
 'K90.': (0, 0, 9, 0),
 'D05.': (0, 0, 2, 0),
 'W94.': (0, 0, 1, 0),
 'E53.': (0, 0, 1, 0),
 'T88.': (0, 0, 2, 0),
 'K57.': (6, 3, 11, 0),
 'N98.': (1, 0, 0, 0),
 'L73.': (2, 0, 0, 0),
 'G35.': (2, 0, 4, 0),
 'S93.': (0, 0, 3, 0),
 'R35.': (0, 5, 3, 0),
 'M31.': (1, 3, 1, 0),
 'K40.': (2, 4, 0, 0),
 'N60.': (0, 0, 3, 0),
 'S64.': (0, 0, 9, 0),
 'E66.': (16, 14, 81, 0),
 'H02.': (0, 0, 2, 0),
 'X58.': (0, 0, 32, 0),
 'T38.': (0, 0, 2, 0),
 'M00.': (2, 1, 1, 0),
 'I26.': (2, 2, 2, 0),
 'Z09.': (0, 0, 1, 0),
 'F02.': (0, 0, 10, 0),
 'I86.': (0, 0, 1, 0),
 'R62.': (0, 2, 1, 0),
 'E44.': (0, 0, 3, 0),
 'S86.': (0, 2, 2, 0),
 'E10.': (1, 1, 5, 0),
 'A52.': (1, 0, 0, 0),
 'O35.': (0, 0, 6, 0),
 'G72.': (0, 0, 1, 0),
 'M47.': (3, 1, 7, 0),
 'S76.': (0, 0, 2, 0),
 'E86.': (4, 4, 20, 0),
 'I96.': (0, 0, 2, 0),
 'I95.': (10, 10, 24, 0),
 'N85.': (1, 2, 9, 0),
 'R44.': (0, 0, 1, 0),
 'F50.': (0, 0, 1, 0),
 'O74.': (0, 0, 1, 0),
 'N28.': (3, 3, 4, 0),
 'J96.': (14, 8, 41, 0),
 'O76.': (0, 0, 30, 0),
 'Z94.': (0, 0, 7, 0),
 'G93.': (20, 10, 22, 0),
 'I71.': (7, 0, 3, 0),
 'N75.': (1, 0, 0, 0),
 'I11.': (0, 0, 17, 0),
 'N92.': (0, 18, 1, 0),
 'O64.': (0, 0, 2, 0),
 'S60.': (0, 0, 2, 0),
 'O04.': (0, 0, 2, 0),
 'R63.': (1, 26, 4, 0),
 'Y08.': (0, 0, 1, 0),
 'B37.': (1, 2, 1, 0),
 'V18.': (0, 0, 1, 0),
 'M10.': (2, 1, 12, 0),
 'W54.': (0, 0, 1, 0),
 'A60.': (0, 2, 4, 0),
 'M85.': (0, 1, 7, 0),
 'G25.': (1, 2, 4, 0),
 'T82.': (0, 0, 3, 0),
 'T86.': (0, 0, 2, 0),
 'O21.': (2, 1, 3, 0),
 'O31.': (0, 0, 3, 0),
 'I62.': (0, 3, 10, 0),
 'T87.': (0, 0, 1, 0),
 'H92.': (0, 1, 1, 0),
 'G70.': (0, 0, 3, 0),
 'V80.': (0, 0, 1, 0),
 'E07.': (0, 2, 1, 0),
 'Z45.': (0, 0, 3, 0),
 'S42.': (4, 2, 6, 0),
 'J90.': (4, 5, 4, 0),
 'V89.': (0, 0, 5, 0),
 'Q21.': (0, 0, 1, 0),
 'B00.': (1, 4, 8, 0),
 'K91.': (1, 1, 16, 0),
 'O48.': (1, 0, 6, 0),
 'R22.': (0, 57, 2, 0),
 'I87.': (1, 1, 9, 0),
 'S22.': (10, 2, 9, 0),
 'Q18.': (1, 1, 0, 0),
 'G46.': (0, 0, 1, 0),
 'M34.': (0, 0, 2, 0),
 'O33.': (1, 0, 1, 0),
 'R21.': (2, 11, 0, 0),
 'N49.': (0, 0, 1, 0),
 'M96.': (0, 0, 4, 0),
 'Z14.': (0, 0, 2, 0),
 'E89.': (0, 0, 4, 0),
 'I27.': (1, 0, 11, 0),
 'B18.': (4, 12, 5, 0),
 'W00.': (0, 0, 8, 0),
 'B95.': (0, 2, 12, 0),
 'M54.': (6, 31, 19, 0),
 'J06.': (0, 0, 5, 0),
 'S46.': (0, 0, 5, 0),
 'R26.': (2, 12, 4, 0),
 'F48.': (0, 0, 1, 0),
 'L05.': (2, 2, 0, 0),
 'O47.': (13, 17, 0, 0),
 'Z17.': (0, 0, 4, 0),
 'Y90.': (0, 0, 2, 0),
 'G56.': (4, 3, 4, 0),
 'Q27.': (3, 0, 2, 0),
 'I82.': (0, 2, 4, 0),
 'S27.': (2, 0, 8, 0),
 'N40.': (3, 0, 31, 0),
 'W27.': (0, 0, 1, 0),
 'L97.': (4, 0, 9, 0),
 'O16.': (0, 0, 5, 0),
 'E06.': (0, 0, 1, 0),
 'Z66.': (0, 0, 100, 0),
 'Z96.': (0, 0, 30, 0),
 'W22.': (0, 0, 1, 0),
 'R64.': (0, 0, 3, 0),
 'N13.': (10, 1, 12, 0),
 'V49.': (0, 0, 3, 0),
 'Z68.': (0, 0, 109, 0),
 'L72.': (0, 0, 1, 0),
 'H49.': (0, 0, 1, 0),
 'Z76.': (0, 0, 4, 0),
 'V88.': (0, 0, 1, 0),
 'G14.': (1, 0, 0, 0),
 'O61.': (1, 0, 3, 0),
 'T14.': (0, 129, 2, 0),
 'Z51.': (0, 0, 133, 0),
 'L57.': (0, 0, 2, 0),
 'N23.': (0, 6, 1, 0),
 'E65.': (0, 1, 1, 0),
 'O22.': (0, 0, 1, 0),
 'Z77.': (0, 0, 1, 0),
 'D48.': (0, 2, 1, 0),
 'S30.': (1, 0, 6, 0),
 'D53.': (0, 0, 2, 0),
 'N18.': (20, 2, 32, 0),
 'N20.': (3, 24, 2, 0),
 'I47.': (2, 0, 6, 0),
 'L21.': (0, 0, 1, 0),
 'C16.': (4, 0, 0, 0),
 'R57.': (6, 6, 14, 0),
 'W19.': (0, 2, 20, 0),
 'K83.': (6, 3, 11, 0),
 'I21.': (5, 5, 5, 0),
 'G20.': (0, 0, 8, 0),
 'V03.': (0, 0, 2, 0),
 'I67.': (0, 3, 2, 0),
 'B20.': (0, 0, 1, 0),
 'Y09.': (1, 1, 0, 0),
 'S50.': (0, 0, 2, 0),
 'F43.': (3, 0, 12, 0),
 'W13.': (0, 0, 2, 0),
 'E46.': (0, 0, 10, 0),
 'W15.': (0, 0, 1, 0),
 'L60.': (0, 0, 1, 0),
 'M94.': (1, 0, 0, 0),
 'L40.': (0, 0, 3, 0),
 'G97.': (0, 2, 2, 0),
 'J09.': (0, 0, 1, 0),
 'M67.': (0, 0, 2, 0),
 'O43.': (3, 1, 8, 0),
 'O44.': (4, 2, 6, 0),
 'R09.': (4, 58, 12, 0),
 'J44.': (11, 3, 34, 0),
 'E16.': (3, 5, 1, 0),
 'R04.': (0, 7, 4, 0),
 'E22.': (0, 0, 3, 0),
 'M12.': (0, 0, 2, 0),
 'S12.': (4, 0, 6, 0),
 'D83.': (1, 0, 0, 0),
 'C53.': (1, 0, 0, 0),
 'K62.': (4, 4, 5, 0),
 'Z67.': (0, 0, 2, 0),
 'S53.': (0, 0, 1, 0),
 'F53.': (0, 1, 1, 0),
 'Q74.': (1, 0, 0, 0),
 'K52.': (0, 1, 3, 0),
 'N39.': (8, 19, 11, 0),
 'E11.': (1, 0, 97, 0),
 'M50.': (0, 0, 5, 0),
 'L89.': (0, 0, 4, 0),
 'D50.': (2, 5, 14, 0),
 'A04.': (1, 0, 5, 0),
 'Z41.': (0, 0, 3, 0),
 'C61.': (1, 8, 2, 0),
 'I73.': (3, 6, 11, 0),
 'T80.': (0, 0, 2, 0),
 'G83.': (0, 14, 2, 0),
 'I49.': (1, 6, 8, 0),
 'O46.': (1, 1, 4, 0),
 'D17.': (3, 1, 0, 0),
 'B91.': (0, 0, 1, 0),
 'J70.': (0, 0, 1, 0),
 'W39.': (0, 0, 1, 0),
 'R71.': (0, 2, 2, 0),
 'G03.': (1, 1, 0, 0),
 'K28.': (1, 1, 0, 0),
 'G82.': (2, 0, 2, 0),
 'O67.': (0, 0, 1, 0),
 'I31.': (1, 2, 3, 0),
 'Z37.': (0, 0, 86, 0),
 'C83.': (0, 0, 3, 0),
 'K21.': (9, 2, 95, 0),
 'Z93.': (0, 0, 12, 0),
 'D84.': (0, 2, 1, 0),
 'S02.': (9, 2, 7, 0),
 'G30.': (5, 0, 3, 0),
 'C49.': (0, 1, 2, 0),
 'N83.': (3, 9, 3, 0),
 'Q65.': (2, 0, 0, 0),
 'N73.': (0, 1, 4, 0),
 'Z40.': (0, 0, 2, 0),
 'I85.': (2, 2, 4, 0),
 'A09.': (1, 42, 0, 0),
 'Y83.': (7, 0, 64, 0),
 'N80.': (0, 5, 4, 0),
 'R18.': (3, 2, 9, 0),
 'Z63.': (0, 2, 1, 0),
 'H66.': (1, 0, 0, 0),
 'J45.': (12, 11, 68, 0),
 'G62.': (1, 4, 10, 0),
 'K43.': (6, 4, 1, 0),
 'R31.': (6, 12, 2, 0),
 'H26.': (1, 1, 3, 0),
 'F03.': (6, 6, 7, 0),
 'I13.': (0, 0, 10, 0),
 'Z43.': (0, 0, 7, 0),
 'W31.': (0, 0, 11, 0),
 'Z3A.': (0, 0, 193, 0),
 'G50.': (1, 0, 3, 0),
 'V85.': (0, 0, 1, 0),
 'O9A.': (0, 0, 3, 0),
 'F98.': (0, 0, 1, 0),
 'I24.': (0, 2, 1, 0),
 'D23.': (0, 0, 1, 0),
 'D55.': (0, 0, 2, 0),
 'G57.': (1, 1, 1, 0),
 'Q23.': (1, 0, 1, 0),
 'W26.': (0, 0, 4, 0),
 'G95.': (0, 3, 3, 0),
 'M17.': (3, 0, 8, 0),
 'R53.': (5, 64, 7, 0),
 'W18.': (0, 0, 8, 0),
 'S01.': (3, 0, 8, 0),
 'K82.': (1, 0, 2, 0),
 'G47.': (9, 6, 62, 0),
 'T46.': (0, 0, 3, 0),
 'F20.': (1, 0, 3, 0),
 'H46.': (0, 0, 1, 0),
 'R13.': (5, 8, 5, 0),
 'M16.': (3, 1, 0, 0),
 'K56.': (16, 7, 4, 0),
 'N19.': (1, 9, 1, 0),
 'V28.': (0, 0, 2, 0),
 'S36.': (5, 1, 4, 0),
 'T81.': (1, 27, 20, 0),
 'K64.': (5, 1, 5, 0),
 'G24.': (1, 0, 0, 0),
 'D56.': (1, 0, 1, 0),
 'X95.': (0, 0, 2, 0),
 'W01.': (3, 8, 7, 0),
 'M35.': (1, 0, 4, 0),
 'S65.': (0, 0, 6, 0),
 'O40.': (2, 1, 3, 0),
 'S83.': (0, 0, 2, 0),
 'J98.': (1, 10, 11, 0),
 'B35.': (0, 0, 1, 0),
 'O89.': (0, 0, 1, 0),
 'Z92.': (0, 3, 10, 0),
 'D63.': (0, 0, 14, 0),
 'M60.': (1, 0, 1, 0),
 'K11.': (3, 1, 1, 0),
 'V19.': (0, 0, 2, 0),
 'Z59.': (2, 2, 7, 0),
 'S55.': (1, 0, 0, 0),
 'Z95.': (1, 2, 47, 0),
 'Z99.': (0, 0, 27, 0),
 'D78.': (0, 0, 1, 0),
 'T54.': (0, 0, 1, 0),
 'I16.': (0, 0, 1, 0),
 'H93.': (0, 1, 1, 0),
 'F25.': (0, 1, 2, 0),
 'E78.': (20, 3, 177, 0),
 'M25.': (7, 17, 8, 0),
 'D65.': (2, 0, 4, 0),
 'K63.': (3, 4, 5, 0),
 'R65.': (0, 0, 14, 0),
 'K70.': (4, 1, 7, 0),
 'C20.': (5, 0, 5, 0),
 'J34.': (0, 4, 1, 0),
 'Z83.': (0, 0, 3, 0),
 'R12.': (1, 2, 0, 0),
 'R34.': (0, 5, 3, 0),
 'M32.': (0, 0, 2, 0),
 'K20.': (3, 1, 1, 0),
 'T45.': (0, 0, 9, 0),
 'O77.': (0, 0, 12, 0),
 'R97.': (0, 0, 6, 0),
 'N76.': (1, 3, 1, 0),
 'J93.': (2, 9, 2, 0),
 'C73.': (1, 1, 1, 0),
 'Y84.': (0, 0, 13, 0),
 'I23.': (0, 0, 2, 0),
 'C84.': (0, 0, 2, 0),
 'M66.': (0, 0, 1, 0),
 'T50.': (0, 3, 2, 0),
 'N30.': (1, 1, 1, 0),
 'K38.': (0, 0, 1, 0),
 'O32.': (3, 0, 10, 0),
 'I97.': (0, 0, 8, 0),
 'F31.': (2, 0, 15, 0),
 'M21.': (0, 2, 10, 0),
 'Z22.': (0, 0, 3, 0),
 'F84.': (1, 0, 0, 0),
 'R39.': (0, 6, 3, 0),
 'H40.': (3, 1, 8, 0),
 'A15.': (0, 0, 1, 0),
 'H54.': (1, 1, 5, 0),
 'E80.': (0, 2, 1, 0),
 'Z81.': (0, 0, 3, 0),
 'R16.': (0, 1, 1, 0),
 'K75.': (2, 6, 3, 0),
 'E04.': (0, 6, 6, 0),
 'T63.': (0, 1, 1, 0),
 'K25.': (1, 1, 1, 0),
 'O02.': (1, 0, 0, 0),
 'E85.': (1, 0, 0, 0),
 'Z39.': (0, 0, 6, 0),
 'K42.': (2, 1, 1, 0),
 'M46.': (1, 0, 1, 0),
 'D32.': (1, 1, 0, 0),
 'S14.': (0, 0, 5, 0),
 'K44.': (1, 3, 8, 0),
 'S39.': (1, 7, 0, 0),
 'Y93.': (0, 0, 6, 0),
 'Z01.': (0, 0, 1, 0),
 'L82.': (0, 0, 1, 0),
 'Z47.': (0, 0, 2, 0),
 'C34.': (4, 2, 6, 0),
 'B19.': (0, 0, 17, 0),
 'M19.': (3, 1, 28, 0),
 'W55.': (2, 0, 0, 0),
 'A46.': (1, 0, 1, 0),
 'I45.': (1, 1, 1, 0),
 'D37.': (0, 6, 2, 0),
 'I99.': (1, 12, 0, 0),
 'Z90.': (0, 0, 31, 0),
 'O08.': (0, 0, 1, 0),
 'T18.': (0, 0, 1, 0),
 'F51.': (0, 0, 1, 0),
 'G40.': (6, 1, 13, 0),
 'I69.': (0, 0, 16, 0),
 'F42.': (0, 0, 2, 0),
 'R94.': (0, 4, 7, 0),
 'E73.': (1, 0, 0, 0),
 'O99.': (1, 0, 129, 0),
 'J04.': (0, 0, 1, 0),
 'M20.': (1, 0, 0, 0),
 'S52.': (7, 4, 4, 0),
 'J01.': (0, 0, 1, 0),
 'R82.': (0, 4, 2, 0),
 'R68.': (1, 24, 3, 0),
 'S43.': (0, 0, 5, 0),
 'D59.': (1, 0, 0, 0),
 'R49.': (1, 7, 2, 0),
 'C54.': (0, 0, 3, 0),
 'O14.': (18, 21, 1, 0),
 'S85.': (0, 0, 1, 0),
 'D25.': (7, 36, 10, 0),
 'Q89.': (2, 14, 1, 0),
 'F01.': (1, 0, 3, 0),
 'J80.': (1, 0, 1, 0),
 'R17.': (0, 8, 1, 0),
 'J95.': (0, 0, 9, 0),
 'D69.': (1, 0, 20, 0),
 'X99.': (1, 1, 0, 0),
 'S72.': (7, 1, 4, 0),
 'K29.': (0, 2, 1, 0),
 'I20.': (0, 5, 1, 0),
 'O98.': (0, 0, 15, 0),
 'S37.': (0, 2, 1, 0),
 'F79.': (0, 1, 2, 0),
 'C80.': (0, 19, 1, 0),
 'Z00.': (0, 0, 6, 0),
 'I89.': (5, 1, 0, 0),
 'Z53.': (0, 2, 13, 0),
 'O63.': (0, 1, 4, 0),
 'O11.': (0, 0, 7, 0),
 'K50.': (7, 0, 6, 0),
 'K86.': (2, 1, 8, 0),
 'T79.': (3, 11, 5, 0),
 'K59.': (3, 44, 17, 0),
 'C25.': (4, 0, 7, 0),
 'C22.': (1, 1, 7, 0),
 'V59.': (0, 0, 2, 0),
 'K81.': (2, 7, 0, 0),
 'I05.': (0, 0, 1, 0),
 'R29.': (0, 33, 5, 0),
 'I70.': (1, 0, 3, 0),
 'R32.': (0, 5, 5, 0),
 'G36.': (1, 0, 0, 0),
 'K02.': (0, 0, 1, 0),
 'N50.': (1, 1, 0, 0),
 'F09.': (0, 0, 1, 0),
 'V47.': (0, 0, 3, 0),
 'C32.': (0, 0, 1, 0),
 'K41.': (0, 0, 1, 0),
 'B48.': (0, 0, 1, 0),
 'C01.': (0, 0, 1, 0),
 'O24.': (3, 1, 21, 0),
 'X50.': (0, 0, 2, 0),
 'I63.': (4, 2, 5, 0),
 'S41.': (0, 0, 1, 0),
 'E55.': (0, 0, 10, 0),
 'R43.': (0, 0, 1, 0),
 'S61.': (4, 4, 12, 0),
 'V43.': (0, 0, 4, 0),
 'S51.': (0, 0, 2, 0),
 'V86.': (0, 0, 3, 0),
 'M43.': (0, 5, 1, 0),
 'N36.': (0, 0, 1, 0),
 'M06.': (0, 0, 12, 0),
 'J42.': (0, 0, 1, 0),
 'O20.': (0, 0, 1, 0),
 'O34.': (0, 0, 42, 0),
 'G45.': (0, 4, 1, 0),
 'W10.': (0, 0, 17, 0),
 'I15.': (0, 0, 1, 0)}

In [75]:



# Calculate Precision and Recall for Each ICD-10 Code
precisions = {}
recalls = {}
for icd_code in unique_icd_codes:
    TP, FP, FN, TN = counts[icd_code]
    
    # Handle division by zero
    if TP + FP == 0:
        precision = 0
    else:
        precision = TP / (TP + FP)

    if TP + FN == 0:
        recall = 0
    else:
        recall = TP / (TP + FN)
    
    precisions[icd_code] = precision
    recalls[icd_code] = recall

In [76]:
precisions

{'K13.': 0.0,
 'N11.': 0,
 'N97.': 1.0,
 'S31.': 0.0,
 'D62.': 1.0,
 'L90.': 0.0,
 'K31.': 0.25,
 'C91.': 0,
 'W25.': 0,
 'T84.': 0,
 'M84.': 1.0,
 'O10.': 0,
 'K55.': 1.0,
 'T71.': 1.0,
 'L29.': 0.0,
 'Z33.': 0.013513513513513514,
 'Z12.': 0,
 'I10.': 0.18421052631578946,
 'G90.': 0.0,
 'D18.': 0.5,
 'R58.': 0.006578947368421052,
 'O41.': 0.4375,
 'W11.': 0,
 'L50.': 0.0,
 'A54.': 0,
 'R59.': 0.08333333333333333,
 'E28.': 0,
 'V48.': 0,
 'G51.': 0.0,
 'N48.': 1.0,
 'K74.': 0.6363636363636364,
 'R78.': 0,
 'D57.': 0.7142857142857143,
 'Z78.': 0,
 'D24.': 0.0,
 'H47.': 0,
 'Z28.': 0,
 'J20.': 0.0,
 'G92.': 1.0,
 'Z80.': 0,
 'T43.': 0,
 'J47.': 0,
 'I65.': 1.0,
 'R20.': 0.038461538461538464,
 'H91.': 0.0,
 'D61.': 1.0,
 'C50.': 0.16666666666666666,
 'H80.': 0,
 'N64.': 0.0,
 'S62.': 0.75,
 'Y82.': 0,
 'K08.': 0.0,
 'J11.': 0.25,
 'K58.': 0.5,
 'R00.': 0.3170731707317073,
 'K80.': 0.8181818181818182,
 'X31.': 0,
 'E05.': 0.0,
 'G80.': 0,
 'M18.': 0,
 'O12.': 0,
 'R05.': 0.038461538461538464,
 'C08.': 0,
 'W51.': 0,
 'G81.': 0.5,
 'D64.': 0.35294117647058826,
 'E27.': 1.0,
 'D70.': 0.0,
 'W69.': 0,
 'O66.': 1.0,
 'R19.': 0.013513513513513514,
 'S70.': 0.0,
 'R56.': 0.1111111111111111,
 'M86.': 0.0,
 'C90.': 0,
 'J35.': 1.0,
 'L01.': 1.0,
 'G43.': 0.23809523809523808,
 'S68.': 0,
 'O62.': 0.2222222222222222,
 'R74.': 0,
 'E23.': 0.5,
 'D49.': 0,
 'S63.': 0,
 'S73.': 0.0,
 'R42.': 0.0392156862745098,
 'N31.': 0,
 'L76.': 0,
 'W20.': 0,
 'Z87.': 0,
 'S20.': 0,
 'R06.': 0.06521739130434782,
 'Z04.': 0,
 'E83.': 0.375,
 'W23.': 0,
 'N35.': 1.0,
 'Y92.': 0,
 'D68.': 0.4444444444444444,
 'R79.': 0.0,
 'S92.': 1.0,
 'L03.': 0.6818181818181818,
 'S26.': 0,
 'M75.': 0.5714285714285714,
 'O71.': 0,
 'R51.': 0.10204081632653061,
 'M26.': 0,
 'S66.': 0,
 'T21.': 1.0,
 'M87.': 0,
 'S32.': 1.0,
 'W29.': 0,
 'N25.': 0,
 'R50.': 0.024390243902439025,
 'F39.': 0.0,
 'R41.': 0.06666666666666667,
 'I44.': 0.0,
 'F44.': 0.0625,
 'D86.': 1.0,
 'Z21.': 0,
 'T85.': 0.5,
 'D12.': 0.0,
 'R93.': 0,
 'W08.': 0,
 'M13.': 0.26666666666666666,
 'C67.': 1.0,
 'I61.': 0.7142857142857143,
 'C24.': 0,
 'G89.': 0,
 'Z88.': 0.5,
 'Z15.': 0,
 'R33.': 0.75,
 'T40.': 0,
 'F15.': 0,
 'O86.': 0,
 'E21.': 0.0,
 'I42.': 0.5,
 'R73.': 0.0,
 'M51.': 0.25,
 'T23.': 0,
 'A08.': 0.5,
 'R10.': 0.1342281879194631,
 'S00.': 0,
 'F19.': 0.0,
 'I46.': 0.5,
 'O60.': 0.4444444444444444,
 'T83.': 0,
 'F64.': 0.6666666666666666,
 'C78.': 0.7777777777777778,
 'Q90.': 1.0,
 'N94.': 0.0,
 'T78.': 0.14285714285714285,
 'C43.': 0,
 'E75.': 0,
 'C77.': 0,
 'J69.': 0.6666666666666666,
 'C79.': 0.6666666666666666,
 'O75.': 0,
 'N65.': 0,
 'Z86.': 0.10714285714285714,
 'I12.': 0,
 'L08.': 0.0,
 'F11.': 1.0,
 'Q28.': 0.3333333333333333,
 'R55.': 0.23076923076923078,
 'D72.': 0.2,
 'K85.': 0.2727272727272727,
 'O42.': 0.5833333333333334,
 'R23.': 0.0,
 'I22.': 0,
 'Z97.': 0,
 'K27.': 0,
 'L02.': 0.5,
 'I34.': 0,
 'G91.': 0.75,
 'K60.': 1.0,
 'F32.': 0.6,
 'M65.': 0.8571428571428571,
 'C64.': 0,
 'T41.': 0,
 'E03.': 0.8888888888888888,
 'R07.': 0.07936507936507936,
 'S82.': 0.8421052631578947,
 'M97.': 0,
 'F63.': 0,
 'R91.': 0.0,
 'X83.': 0,
 'K72.': 0.6666666666666666,
 'O23.': 0,
 'S21.': 0.0,
 'J40.': 1.0,
 'F54.': 0,
 'D51.': 0,
 'I25.': 0.84,
 'K35.': 1.0,
 'R03.': 0.0,
 'O91.': 1.0,
 'O45.': 0.3333333333333333,
 'Z23.': 0,
 'N99.': 0,
 'M81.': 0.6666666666666666,
 'Q71.': 0,
 'C85.': 0.0,
 'Y65.': 0,
 'R45.': 0.12903225806451613,
 'R14.': 0.0,
 'L30.': 1.0,
 'K92.': 0.14285714285714285,
 'J91.': 0,
 'D75.': 0,
 'R25.': 0.0,
 'Z48.': 0,
 'Q61.': 0,
 'G60.': 0,
 'K51.': 0,
 'Y99.': 0,
 'K65.': 0.25,
 'I60.': 0.16666666666666666,
 'F40.': 0,
 'F33.': 0.0,
 'W34.': 0.0,
 'C76.': 0.0,
 'S06.': 0.7142857142857143,
 'S80.': 0.3333333333333333,
 'R47.': 0.4,
 'I36.': 0,
 'Y73.': 0,
 'I50.': 0.7,
 'O13.': 0.8571428571428571,
 'E43.': 0,
 'Z89.': 0,
 'M41.': 0,
 'C44.': 0.0,
 'O72.': 0.8888888888888888,
 'Z30.': 0,
 'V29.': 0,
 'Z16.': 0,
 'O70.': 0.0,
 'T68.': 0,
 'K61.': 0,
 'M24.': 0.6666666666666666,
 'Z74.': 0,
 'C09.': 1.0,
 'R60.': 0.03225806451612903,
 'O30.': 1.0,
 'H52.': 0,
 'Z91.': 0.0,
 'O28.': 0,
 'Z82.': 0.03636363636363636,
 'S67.': 0.0,
 'R40.': 0.21875,
 'W06.': 1.0,
 'W45.': 0,
 'S54.': 0.0,
 'N32.': 0.25,
 'N52.': 0,
 'I08.': 0,
 'C71.': 0,
 'A41.': 0.43478260869565216,
 'O09.': 0,
 'J84.': 1.0,
 'H81.': 0,
 'H53.': 0.09090909090909091,
 'G58.': 0.0,
 'N61.': 0.75,
 'L98.': 0.2,
 'E87.': 0.85,
 'F10.': 1.0,
 'O69.': 1.0,
 'D89.': 0,
 'M48.': 0.5,
 'Z98.': 0,
 'C15.': 0,
 'F14.': 0,
 'N62.': 0.6666666666666666,
 'F17.': 0.0,
 'M53.': 1.0,
 'N71.': 0.0,
 'C92.': 0,
 'I77.': 0.2,
 'I74.': 0.4,
 'F30.': 1.0,
 'D46.': 0,
 'M62.': 0.16666666666666666,
 'I81.': 0,
 'K26.': 1.0,
 'I35.': 0.5555555555555556,
 'J02.': 0.25,
 'J30.': 0.0,
 'R11.': 0.15789473684210525,
 'O36.': 0.16666666666666666,
 'D66.': 1.0,
 'T70.': 0.0,
 'S56.': 0,
 'N17.': 1.0,
 'K22.': 0.625,
 'Z85.': 0,
 'O26.': 0,
 'F90.': 0.0,
 'D34.': 0,
 'J15.': 0,
 'S34.': 0,
 'J39.': 0.6,
 'L12.': 0,
 'Z72.': 0.07692307692307693,
 'A63.': 0,
 'C26.': 0,
 'J38.': 0.75,
 'I48.': 0.9393939393939394,
 'F41.': 0.46875,
 'K66.': 0.4,
 'C18.': 0.5555555555555556,
 'R52.': 0.0,
 'C56.': 0,
 'I51.': 0.0,
 'J43.': 0,
 'Y04.': 0.0,
 'H35.': 0,
 'H90.': 0,
 'I83.': 0.0,
 'X16.': 0,
 'B96.': 0,
 'O00.': 0.75,
 'D11.': 0,
 'K76.': 0.4166666666666667,
 'D27.': 0,
 'C55.': 0,
 'F05.': 0.0,
 'V00.': 0,
 'I80.': 0.0,
 'J18.': 0.38095238095238093,
 'M40.': 0,
 'I68.': 0,
 'O90.': 1.0,
 'F12.': 0.5,
 'Z79.': 0,
 'J81.': 0.3333333333333333,
 'T42.': 0,
 'M79.': 0.07317073170731707,
 'Y79.': 0,
 'Y69.': 0,
 'K90.': 0,
 'D05.': 0,
 'W94.': 0,
 'E53.': 0,
 'T88.': 0,
 'K57.': 0.6666666666666666,
 'N98.': 1.0,
 'L73.': 1.0,
 'G35.': 1.0,
 'S93.': 0,
 'R35.': 0.0,
 'M31.': 0.25,
 'K40.': 0.3333333333333333,
 'N60.': 0,
 'S64.': 0,
 'E66.': 0.5333333333333333,
 'H02.': 0,
 'X58.': 0,
 'T38.': 0,
 'M00.': 0.6666666666666666,
 'I26.': 0.5,
 'Z09.': 0,
 'F02.': 0,
 'I86.': 0,
 'R62.': 0.0,
 'E44.': 0,
 'S86.': 0.0,
 'E10.': 0.5,
 'A52.': 1.0,
 'O35.': 0,
 'G72.': 0,
 'M47.': 0.75,
 'S76.': 0,
 'E86.': 0.5,
 'I96.': 0,
 'I95.': 0.5,
 'N85.': 0.3333333333333333,
 'R44.': 0,
 'F50.': 0,
 'O74.': 0,
 'N28.': 0.5,
 'J96.': 0.6363636363636364,
 'O76.': 0,
 'Z94.': 0,
 'G93.': 0.6666666666666666,
 'I71.': 1.0,
 'N75.': 1.0,
 'I11.': 0,
 'N92.': 0.0,
 'O64.': 0,
 'S60.': 0,
 'O04.': 0,
 'R63.': 0.037037037037037035,
 'Y08.': 0,
 'B37.': 0.3333333333333333,
 'V18.': 0,
 'M10.': 0.6666666666666666,
 'W54.': 0,
 'A60.': 0.0,
 'M85.': 0.0,
 'G25.': 0.3333333333333333,
 'T82.': 0,
 'T86.': 0,
 'O21.': 0.6666666666666666,
 'O31.': 0,
 'I62.': 0.0,
 'T87.': 0,
 'H92.': 0.0,
 'G70.': 0,
 'V80.': 0,
 'E07.': 0.0,
 'Z45.': 0,
 'S42.': 0.6666666666666666,
 'J90.': 0.4444444444444444,
 'V89.': 0,
 'Q21.': 0,
 'B00.': 0.2,
 'K91.': 0.5,
 'O48.': 1.0,
 'R22.': 0.0,
 'I87.': 0.5,
 'S22.': 0.8333333333333334,
 'Q18.': 0.5,
 'G46.': 0,
 'M34.': 0,
 'O33.': 1.0,
 'R21.': 0.15384615384615385,
 'N49.': 0,
 'M96.': 0,
 'Z14.': 0,
 'E89.': 0,
 'I27.': 1.0,
 'B18.': 0.25,
 'W00.': 0,
 'B95.': 0.0,
 'M54.': 0.16216216216216217,
 'J06.': 0,
 'S46.': 0,
 'R26.': 0.14285714285714285,
 'F48.': 0,
 'L05.': 0.5,
 'O47.': 0.43333333333333335,
 'Z17.': 0,
 'Y90.': 0,
 'G56.': 0.5714285714285714,
 'Q27.': 1.0,
 'I82.': 0.0,
 'S27.': 1.0,
 'N40.': 1.0,
 'W27.': 0,
 'L97.': 1.0,
 'O16.': 0,
 'E06.': 0,
 'Z66.': 0,
 'Z96.': 0,
 'W22.': 0,
 'R64.': 0,
 'N13.': 0.9090909090909091,
 'V49.': 0,
 'Z68.': 0,
 'L72.': 0,
 'H49.': 0,
 'Z76.': 0,
 'V88.': 0,
 'G14.': 1.0,
 'O61.': 1.0,
 'T14.': 0.0,
 'Z51.': 0,
 'L57.': 0,
 'N23.': 0.0,
 'E65.': 0.0,
 'O22.': 0,
 'Z77.': 0,
 'D48.': 0.0,
 'S30.': 1.0,
 'D53.': 0,
 'N18.': 0.9090909090909091,
 'N20.': 0.1111111111111111,
 'I47.': 1.0,
 'L21.': 0,
 'C16.': 1.0,
 'R57.': 0.5,
 'W19.': 0.0,
 'K83.': 0.6666666666666666,
 'I21.': 0.5,
 'G20.': 0,
 'V03.': 0,
 'I67.': 0.0,
 'B20.': 0,
 'Y09.': 0.5,
 'S50.': 0,
 'F43.': 1.0,
 'W13.': 0,
 'E46.': 0,
 'W15.': 0,
 'L60.': 0,
 'M94.': 1.0,
 'L40.': 0,
 'G97.': 0.0,
 'J09.': 0,
 'M67.': 0,
 'O43.': 0.75,
 'O44.': 0.6666666666666666,
 'R09.': 0.06451612903225806,
 'J44.': 0.7857142857142857,
 'E16.': 0.375,
 'R04.': 0.0,
 'E22.': 0,
 'M12.': 0,
 'S12.': 1.0,
 'D83.': 1.0,
 'C53.': 1.0,
 'K62.': 0.5,
 'Z67.': 0,
 'S53.': 0,
 'F53.': 0.0,
 'Q74.': 1.0,
 'K52.': 0.0,
 'N39.': 0.2962962962962963,
 'E11.': 1.0,
 'M50.': 0,
 'L89.': 0,
 'D50.': 0.2857142857142857,
 'A04.': 1.0,
 'Z41.': 0,
 'C61.': 0.1111111111111111,
 'I73.': 0.3333333333333333,
 'T80.': 0,
 'G83.': 0.0,
 'I49.': 0.14285714285714285,
 'O46.': 0.5,
 'D17.': 0.75,
 'B91.': 0,
 'J70.': 0,
 'W39.': 0,
 'R71.': 0.0,
 'G03.': 0.5,
 'K28.': 0.5,
 'G82.': 1.0,
 'O67.': 0,
 'I31.': 0.3333333333333333,
 'Z37.': 0,
 'C83.': 0,
 'K21.': 0.8181818181818182,
 'Z93.': 0,
 'D84.': 0.0,
 'S02.': 0.8181818181818182,
 'G30.': 1.0,
 'C49.': 0.0,
 'N83.': 0.25,
 'Q65.': 1.0,
 'N73.': 0.0,
 'Z40.': 0,
 'I85.': 0.5,
 'A09.': 0.023255813953488372,
 'Y83.': 1.0,
 'N80.': 0.0,
 'R18.': 0.6,
 'Z63.': 0.0,
 'H66.': 1.0,
 'J45.': 0.5217391304347826,
 'G62.': 0.2,
 'K43.': 0.6,
 'R31.': 0.3333333333333333,
 'H26.': 0.5,
 'F03.': 0.5,
 'I13.': 0,
 'Z43.': 0,
 'W31.': 0,
 'Z3A.': 0,
 'G50.': 1.0,
 'V85.': 0,
 'O9A.': 0,
 'F98.': 0,
 'I24.': 0.0,
 'D23.': 0,
 'D55.': 0,
 'G57.': 0.5,
 'Q23.': 1.0,
 'W26.': 0,
 'G95.': 0.0,
 'M17.': 1.0,
 'R53.': 0.07246376811594203,
 'W18.': 0,
 'S01.': 1.0,
 'K82.': 1.0,
 'G47.': 0.6,
 'T46.': 0,
 'F20.': 1.0,
 'H46.': 0,
 'R13.': 0.38461538461538464,
 'M16.': 0.75,
 'K56.': 0.6956521739130435,
 'N19.': 0.1,
 'V28.': 0,
 'S36.': 0.8333333333333334,
 'T81.': 0.03571428571428571,
 'K64.': 0.8333333333333334,
 'G24.': 1.0,
 'D56.': 1.0,
 'X95.': 0,
 'W01.': 0.2727272727272727,
 'M35.': 1.0,
 'S65.': 0,
 'O40.': 0.6666666666666666,
 'S83.': 0,
 'J98.': 0.09090909090909091,
 'B35.': 0,
 'O89.': 0,
 'Z92.': 0.0,
 'D63.': 0,
 'M60.': 1.0,
 'K11.': 0.75,
 'V19.': 0,
 'Z59.': 0.5,
 'S55.': 1.0,
 'Z95.': 0.3333333333333333,
 'Z99.': 0,
 'D78.': 0,
 'T54.': 0,
 'I16.': 0,
 'H93.': 0.0,
 'F25.': 0.0,
 'E78.': 0.8695652173913043,
 'M25.': 0.2916666666666667,
 'D65.': 1.0,
 'K63.': 0.42857142857142855,
 'R65.': 0,
 'K70.': 0.8,
 'C20.': 1.0,
 'J34.': 0.0,
 'Z83.': 0,
 'R12.': 0.3333333333333333,
 'R34.': 0.0,
 'M32.': 0,
 'K20.': 0.75,
 'T45.': 0,
 'O77.': 0,
 'R97.': 0,
 'N76.': 0.25,
 'J93.': 0.18181818181818182,
 'C73.': 0.5,
 'Y84.': 0,
 'I23.': 0,
 'C84.': 0,
 'M66.': 0,
 'T50.': 0.0,
 'N30.': 0.5,
 'K38.': 0,
 'O32.': 1.0,
 'I97.': 0,
 'F31.': 1.0,
 'M21.': 0.0,
 'Z22.': 0,
 'F84.': 1.0,
 'R39.': 0.0,
 'H40.': 0.75,
 'A15.': 0,
 'H54.': 0.5,
 'E80.': 0.0,
 'Z81.': 0,
 'R16.': 0.0,
 'K75.': 0.25,
 'E04.': 0.0,
 'T63.': 0.0,
 'K25.': 0.5,
 'O02.': 1.0,
 'E85.': 1.0,
 'Z39.': 0,
 'K42.': 0.6666666666666666,
 'M46.': 1.0,
 'D32.': 0.5,
 'S14.': 0,
 'K44.': 0.25,
 'S39.': 0.125,
 'Y93.': 0,
 'Z01.': 0,
 'L82.': 0,
 'Z47.': 0,
 'C34.': 0.6666666666666666,
 'B19.': 0,
 'M19.': 0.75,
 'W55.': 1.0,
 'A46.': 1.0,
 'I45.': 0.5,
 'D37.': 0.0,
 'I99.': 0.07692307692307693,
 'Z90.': 0,
 'O08.': 0,
 'T18.': 0,
 'F51.': 0,
 'G40.': 0.8571428571428571,
 'I69.': 0,
 'F42.': 0,
 'R94.': 0.0,
 'E73.': 1.0,
 'O99.': 1.0,
 'J04.': 0,
 'M20.': 1.0,
 'S52.': 0.6363636363636364,
 'J01.': 0,
 'R82.': 0.0,
 'R68.': 0.04,
 'S43.': 0,
 'D59.': 1.0,
 'R49.': 0.125,
 'C54.': 0,
 'O14.': 0.46153846153846156,
 'S85.': 0,
 'D25.': 0.16279069767441862,
 'Q89.': 0.125,
 'F01.': 1.0,
 'J80.': 1.0,
 'R17.': 0.0,
 'J95.': 0,
 'D69.': 1.0,
 'X99.': 0.5,
 'S72.': 0.875,
 'K29.': 0.0,
 'I20.': 0.0,
 'O98.': 0,
 'S37.': 0.0,
 'F79.': 0.0,
 'C80.': 0.0,
 'Z00.': 0,
 'I89.': 0.8333333333333334,
 'Z53.': 0.0,
 'O63.': 0.0,
 'O11.': 0,
 'K50.': 1.0,
 'K86.': 0.6666666666666666,
 'T79.': 0.21428571428571427,
 'K59.': 0.06382978723404255,
 'C25.': 1.0,
 'C22.': 0.5,
 'V59.': 0,
 'K81.': 0.2222222222222222,
 'I05.': 0,
 'R29.': 0.0,
 'I70.': 1.0,
 'R32.': 0.0,
 'G36.': 1.0,
 'K02.': 0,
 'N50.': 0.5,
 'F09.': 0,
 'V47.': 0,
 'C32.': 0,
 'K41.': 0,
 'B48.': 0,
 'C01.': 0,
 'O24.': 0.75,
 'X50.': 0,
 'I63.': 0.6666666666666666,
 'S41.': 0,
 'E55.': 0,
 'R43.': 0,
 'S61.': 0.5,
 'V43.': 0,
 'S51.': 0,
 'V86.': 0,
 'M43.': 0.0,
 'N36.': 0,
 'M06.': 0,
 'J42.': 0,
 'O20.': 0,
 'O34.': 0,
 'G45.': 0.0,
 'W10.': 0,
 'I15.': 0}

In [77]:
# Step 6: Calculate Macro Precision and Macro Recall
macro_precision = sum(precisions.values()) / len(precisions)
macro_recall = sum(recalls.values()) / len(recalls)

In [78]:
macro_precision

0.2656665406872093

In [79]:
macro_recall

0.20711383642839065

In [85]:
# Calculate Micro Precision and Recall
total_TP = sum([counts[icd_code][0] for icd_code in unique_icd_codes])
total_FP = sum([counts[icd_code][1] for icd_code in unique_icd_codes])
total_FN = sum([counts[icd_code][2] for icd_code in unique_icd_codes])

# Handle division by zero
micro_precision = total_TP / (total_TP + total_FP) if (total_TP + total_FP) != 0 else 0
micro_recall = total_TP / (total_TP + total_FN) if (total_TP + total_FN) != 0 else 0

print("Micro Precision:", micro_precision)
print("Micro Recall:", micro_recall)

Micro Precision: 0.24940898345153664
Micro Recall: 0.15962678098600427

In [86]:
# Calculate F1 Score for Each ICD-10 Code
f1_scores = {}
for icd_code in unique_icd_codes:
    precision = precisions[icd_code]
    recall = recalls[icd_code]

    # Handle division by zero for precision and recall
    if precision + recall == 0:
        f1_score = 0
    else:
        f1_score = 2 * (precision * recall) / (precision + recall)

    f1_scores[icd_code] = f1_score

In [87]:
# Step 8: Calculate Macro F1 Score
macro_f1_score = sum(f1_scores.values()) / len(f1_scores)

# Now you have macro precision, macro recall, and macro F1 score for your multi-label classification evaluation.

In [88]:
macro_f1_score

0.19709528323555367

In [89]:
# Calculate Micro F1 Score
micro_precision = total_TP / (total_TP + total_FP) if (total_TP + total_FP) != 0 else 0
micro_recall = total_TP / (total_TP + total_FN) if (total_TP + total_FN) != 0 else 0

# Handle division by zero for precision and recall in Micro F1 Score
if micro_precision + micro_recall == 0:
    micro_f1_score = 0
else:
    micro_f1_score = 2 * (micro_precision * micro_recall) / (micro_precision + micro_recall)

print("Micro F1 Score:", micro_f1_score)

Micro F1 Score: 0.19466441147074653

In [83]:
# Calculate Precision and Recall for Each ICD-10 Code
precisions = {}
recalls = {}
for icd_code in unique_icd_codes:
    TP, FP, FN, TN = counts[icd_code]
    
    # Handle division by zero
    if TP + FP == 0:
        precision = 0
    else:
        precision = TP / (TP + FP)

    if TP + FN == 0:
        recall = 0
    else:
        recall = TP / (TP + FN)
    
    precisions[icd_code] = precision
    recalls[icd_code] = recall

# Filter out zero precision values and calculate average precision
average_precision = np.mean([precision for precision in precisions.values() if precision > 0])

In [84]:
average_precision

0.6080284815132856

In [38]:
average_recall = np.mean([recall for recall in recalls.values() if recall > 0])

In [39]:
average_recall

0.4740194649209296

In [40]:
# Calculate F1 Score for Each ICD-10 Code
f1_scores = {}
for icd_code in unique_icd_codes:
    precision = precisions[icd_code]
    recall = recalls[icd_code]

    # Handle division by zero for precision and recall
    if precision + recall == 0:
        f1_score = 0
    else:
        f1_score = 2 * (precision * recall) / (precision + recall)

    f1_scores[icd_code] = f1_score

In [41]:
average_f1 = np.mean([f1_score for f1_score in f1_scores.values() if f1_score > 0])

In [42]:
average_f1

0.4510900976432759

In [43]:
len([f1_score for f1_score in f1_scores.values() if f1_score > 0])

336

#### Top 50 ICD codes identification

In [90]:
top_50_icd_codes = icd_codes_with_smallest_size_notes['icd_code'].value_counts().index[:50]
top_50_icd_codes

Index(['Y92.', 'O99.', 'I10.', 'E78.', 'Z87.', 'Z3A.', 'Z51.', 'Z85.', 'E11.',
       'Z79.', 'Z68.', 'F41.', 'K21.', 'F32.', 'Z66.', 'Z86.', 'E66.', 'I25.',
       'Z37.', 'E87.', 'J45.', 'I48.', 'E03.', 'F17.', 'G47.', 'Y83.', 'Z95.',
       'J96.', 'G93.', 'O26.', 'N17.', 'N18.', 'G89.', 'C78.', 'J44.', 'D64.',
       'R40.', 'O34.', 'Z80.', 'O09.', 'R11.', 'I50.', 'Z23.', 'S06.', 'M19.',
       'N40.', 'I12.', 'I95.', 'S62.', 'O70.'],
      dtype='object')

In [91]:
filtered_test_notes = final_notes_with_icd_codes[final_notes_with_icd_codes['icd_code'].isin(top_50_icd_codes)]

filtered_test_notes

       hadm_id                                               text icd_code
3     20019282  Left ankle fracture. ORIF left ankle. yr old m...     Y92.
7     20022343  Preterm labor. repeat low transverse cesarean ...     O34.
9     20022343  Preterm labor. repeat low transverse cesarean ...     Z3A.
10    20022343  Preterm labor. repeat low transverse cesarean ...     Z37.
11    20025548  contractions. SVD. Pt arrives co painful contr...     O99.
...        ...                                                ...      ...
8578  29990058  induction labor. primary cesarean delivery. Af...     Z3A.
8579  29990058  induction labor. primary cesarean delivery. Af...     Z37.
8581  29990058  induction labor. primary cesarean delivery. Af...     Z23.
8582  29990058  induction labor. primary cesarean delivery. Af...     Z86.
8583  29990058  induction labor. primary cesarean delivery. Af...     K21.

[4328 rows x 3 columns]

In [92]:
filtered_unique_hadm_notes = filtered_test_notes[['hadm_id', 'text']].drop_duplicates(subset='hadm_id')

In [93]:
filtered_unique_hadm_notes = filtered_unique_hadm_notes.reset_index(drop = True)
filtered_unique_hadm_notes

      hadm_id                                               text
0    20019282  Left ankle fracture. ORIF left ankle. yr old m...
1    20022343  Preterm labor. repeat low transverse cesarean ...
2    20025548  contractions. SVD. Pt arrives co painful contr...
3    20027416  neck cancer. direct laryngoscopy robotic hemig...
4    20028418  admission chemo. Pt tolerated desens without a...
..        ...                                                ...
929  29980814  Postpartum incision check. partial opening pac...
930  29980930  elective chemotherapy. Pt presented elective c...
931  29987299  attach. BLOOD WBC RBC Hgb Hct. MCV MCH MCHC RD...
932  29988390  acute cholecystitis. laparoscopic cholecystect...
933  29990058  induction labor. primary cesarean delivery. Af...

[934 rows x 2 columns]

In [94]:
filtered_icd10_data = {
    'hadm_id': [],
    'icd10_codes': []
}

In [95]:
unique_icd_codes = set(filtered_test_notes['icd_code'])

In [96]:
# Step 3: Initialize TP, FP, FN, TN counts
filtered_counts = {icd_code: (0, 0, 0, 0) for icd_code in unique_icd_codes}

In [97]:
i = 0
for icd_code in unique_icd_codes:
    i+=1
    if i%10 == 0:
        print(f'{i} codes are done!')
    
    true_icd_codes = filtered_test_notes[filtered_test_notes['icd_code'] == icd_code]['hadm_id'].values
    predicted_icd_codes = df_icd10[df_icd10['icd10_codes'].apply(lambda x: icd_code in x)]['hadm_id'].values

    TP = np.intersect1d(true_icd_codes, predicted_icd_codes)
    FP = np.setdiff1d(predicted_icd_codes, true_icd_codes)
    FN = np.setdiff1d(true_icd_codes, predicted_icd_codes)
    TN = len(np.union1d(predicted_icd_codes, true_icd_codes)) -len(TP) -len(FP) -len(FN)


    filtered_counts[icd_code] = (len(TP), len(FP), len(FN), TN)

10 codes are done!
20 codes are done!
30 codes are done!
40 codes are done!
50 codes are done!

In [98]:
filtered_counts

{'O70.': (0, 1, 33, 0),
 'S62.': (3, 1, 14, 0),
 'R11.': (21, 112, 20, 0),
 'Z23.': (0, 0, 40, 0),
 'N17.': (8, 0, 45, 0),
 'Z95.': (1, 2, 47, 0),
 'Z85.': (0, 0, 111, 0),
 'O26.': (0, 0, 49, 0),
 'Y92.': (0, 0, 245, 0),
 'I95.': (10, 10, 24, 0),
 'E78.': (20, 3, 177, 0),
 'J96.': (14, 8, 41, 0),
 'I10.': (7, 31, 217, 0),
 'Z79.': (0, 0, 122, 0),
 'G93.': (20, 10, 22, 0),
 'Z86.': (3, 25, 79, 0),
 'Z37.': (0, 0, 86, 0),
 'G47.': (9, 6, 62, 0),
 'I12.': (0, 0, 34, 0),
 'R40.': (7, 25, 13, 0),
 'M19.': (3, 1, 28, 0),
 'D64.': (6, 11, 39, 0),
 'K21.': (9, 2, 95, 0),
 'I48.': (31, 2, 43, 0),
 'N40.': (3, 0, 31, 0),
 'J44.': (11, 3, 34, 0),
 'O09.': (0, 0, 36, 0),
 'F41.': (15, 17, 91, 0),
 'Z66.': (0, 0, 100, 0),
 'Y83.': (7, 0, 64, 0),
 'G89.': (0, 0, 51, 0),
 'O99.': (1, 0, 129, 0),
 'E87.': (17, 3, 46, 0),
 'Z68.': (0, 0, 109, 0),
 'S06.': (10, 4, 17, 0),
 'J45.': (12, 11, 68, 0),
 'F32.': (12, 8, 88, 0),
 'E66.': (16, 14, 81, 0),
 'Z80.': (0, 0, 24, 0),
 'E03.': (16, 2, 58, 0),
 'Z51.': (0, 0, 133, 0),
 'F17.': (0, 1, 73, 0),
 'I50.': (7, 3, 32, 0),
 'E11.': (1, 0, 97, 0),
 'O34.': (0, 0, 42, 0),
 'Z87.': (0, 0, 186, 0),
 'Z3A.': (0, 0, 193, 0),
 'N18.': (20, 2, 32, 0),
 'C78.': (7, 2, 26, 0),
 'I25.': (21, 4, 46, 0)}

In [99]:

# Calculate Precision and Recall for Each ICD-10 Code
filtered_precisions = {}
filtered_recalls = {}
for icd_code in unique_icd_codes:
    TP, FP, FN, TN = filtered_counts[icd_code]
    
    # Handle division by zero
    if TP + FP == 0:
        precision = 0
    else:
        precision = TP / (TP + FP)

    if TP + FN == 0:
        recall = 0
    else:
        recall = TP / (TP + FN)
    
    filtered_precisions[icd_code] = precision
    filtered_recalls[icd_code] = recall

In [100]:
filtered_precisions

{'O70.': 0.0,
 'S62.': 0.75,
 'R11.': 0.15789473684210525,
 'Z23.': 0,
 'N17.': 1.0,
 'Z95.': 0.3333333333333333,
 'Z85.': 0,
 'O26.': 0,
 'Y92.': 0,
 'I95.': 0.5,
 'E78.': 0.8695652173913043,
 'J96.': 0.6363636363636364,
 'I10.': 0.18421052631578946,
 'Z79.': 0,
 'G93.': 0.6666666666666666,
 'Z86.': 0.10714285714285714,
 'Z37.': 0,
 'G47.': 0.6,
 'I12.': 0,
 'R40.': 0.21875,
 'M19.': 0.75,
 'D64.': 0.35294117647058826,
 'K21.': 0.8181818181818182,
 'I48.': 0.9393939393939394,
 'N40.': 1.0,
 'J44.': 0.7857142857142857,
 'O09.': 0,
 'F41.': 0.46875,
 'Z66.': 0,
 'Y83.': 1.0,
 'G89.': 0,
 'O99.': 1.0,
 'E87.': 0.85,
 'Z68.': 0,
 'S06.': 0.7142857142857143,
 'J45.': 0.5217391304347826,
 'F32.': 0.6,
 'E66.': 0.5333333333333333,
 'Z80.': 0,
 'E03.': 0.8888888888888888,
 'Z51.': 0,
 'F17.': 0.0,
 'I50.': 0.7,
 'E11.': 1.0,
 'O34.': 0,
 'Z87.': 0,
 'Z3A.': 0,
 'N18.': 0.9090909090909091,
 'C78.': 0.7777777777777778,
 'I25.': 0.84}

In [101]:
filtered_recalls

{'O70.': 0.0,
 'S62.': 0.17647058823529413,
 'R11.': 0.5121951219512195,
 'Z23.': 0.0,
 'N17.': 0.1509433962264151,
 'Z95.': 0.020833333333333332,
 'Z85.': 0.0,
 'O26.': 0.0,
 'Y92.': 0.0,
 'I95.': 0.29411764705882354,
 'E78.': 0.10152284263959391,
 'J96.': 0.2545454545454545,
 'I10.': 0.03125,
 'Z79.': 0.0,
 'G93.': 0.47619047619047616,
 'Z86.': 0.036585365853658534,
 'Z37.': 0.0,
 'G47.': 0.1267605633802817,
 'I12.': 0.0,
 'R40.': 0.35,
 'M19.': 0.0967741935483871,
 'D64.': 0.13333333333333333,
 'K21.': 0.08653846153846154,
 'I48.': 0.4189189189189189,
 'N40.': 0.08823529411764706,
 'J44.': 0.24444444444444444,
 'O09.': 0.0,
 'F41.': 0.14150943396226415,
 'Z66.': 0.0,
 'Y83.': 0.09859154929577464,
 'G89.': 0.0,
 'O99.': 0.007692307692307693,
 'E87.': 0.2698412698412698,
 'Z68.': 0.0,
 'S06.': 0.37037037037037035,
 'J45.': 0.15,
 'F32.': 0.12,
 'E66.': 0.16494845360824742,
 'Z80.': 0.0,
 'E03.': 0.21621621621621623,
 'Z51.': 0.0,
 'F17.': 0.0,
 'I50.': 0.1794871794871795,
 'E11.': 0.01020408163265306,
 'O34.': 0.0,
 'Z87.': 0.0,
 'Z3A.': 0.0,
 'N18.': 0.38461538461538464,
 'C78.': 0.21212121212121213,
 'I25.': 0.31343283582089554}

In [102]:
# Step 6: Calculate Macro Precision and Macro Recall
macro_precision = sum(filtered_precisions.values()) / len(filtered_precisions)
macro_recall = sum(filtered_recalls.values()) / len(filtered_recalls)

In [103]:
macro_precision

0.42948047895255465

In [104]:
macro_recall

0.12477379459959041

In [105]:
# Calculate Micro Precision and Recall
total_TP = sum([filtered_counts[icd_code][0] for icd_code in unique_icd_codes])
total_FP = sum([filtered_counts[icd_code][1] for icd_code in unique_icd_codes])
total_FN = sum([filtered_counts[icd_code][2] for icd_code in unique_icd_codes])

# Handle division by zero
micro_precision = total_TP / (total_TP + total_FP) if (total_TP + total_FP) != 0 else 0
micro_recall = total_TP / (total_TP + total_FN) if (total_TP + total_FN) != 0 else 0

print("Micro Precision:", micro_precision)
print("Micro Recall:", micro_recall)

Micro Precision: 0.5178571428571429
Micro Recall: 0.08875286916602908

In [106]:
# Calculate F1 Score for Each ICD-10 Code
filtered_f1_scores = {}
for icd_code in unique_icd_codes:
    precision = filtered_precisions[icd_code]
    recall = filtered_recalls[icd_code]

    # Handle division by zero for precision and recall
    if precision + recall == 0:
        f1_score = 0
    else:
        f1_score = 2 * (precision * recall) / (precision + recall)

    filtered_f1_scores[icd_code] = f1_score

In [107]:
# Step 8: Calculate Macro F1 Score
macro_f1_score = sum(filtered_f1_scores.values()) / len(filtered_f1_scores)

# Now you have macro precision, macro recall, and macro F1 score for your multi-label classification evaluation.

In [108]:
macro_f1_score

0.1700237055570904

In [109]:
# Calculate Micro F1 Score
micro_precision = total_TP / (total_TP + total_FP) if (total_TP + total_FP) != 0 else 0
micro_recall = total_TP / (total_TP + total_FN) if (total_TP + total_FN) != 0 else 0

# Handle division by zero for precision and recall in Micro F1 Score
if micro_precision + micro_recall == 0:
    micro_f1_score = 0
else:
    micro_f1_score = 2 * (micro_precision * micro_recall) / (micro_precision + micro_recall)

print("Micro F1 Score:", micro_f1_score)

Micro F1 Score: 0.15153494448073154

In [62]:
# Calculate Precision and Recall for Each ICD-10 Code
filtered_precisions = {}
filtered_recalls = {}
for icd_code in unique_icd_codes:
    TP, FP, FN, TN = filtered_counts[icd_code]
    
    # Handle division by zero
    if TP + FP == 0:
        precision = 0
    else:
        precision = TP / (TP + FP)

    if TP + FN == 0:
        recall = 0
    else:
        recall = TP / (TP + FN)
    
    filtered_precisions[icd_code] = precision
    filtered_recalls[icd_code] = recall    
    
    
    
    
    
# Filter out zero precision values and calculate average precision
average_precision = np.mean([precision for precision in filtered_precisions.values() if precision > 0])

In [63]:
average_precision

0.6710632483633665

In [64]:
average_recall = np.mean([recall for recall in filtered_recalls.values() if recall > 0])

In [65]:
average_recall

0.19495905406185993

In [66]:
# Calculate F1 Score for Each ICD-10 Code
filtered_f1_scores = {}
for icd_code in unique_icd_codes:
    precision = filtered_precisions[icd_code]
    recall = filtered_recalls[icd_code]

    # Handle division by zero for precision and recall
    if precision + recall == 0:
        f1_score = 0
    else:
        f1_score = 2 * (precision * recall) / (precision + recall)

    filtered_f1_scores[icd_code] = f1_score

In [67]:
average_f1 = np.mean([f1_score for f1_score in filtered_f1_scores.values() if f1_score > 0])

In [68]:
average_f1

0.26566203993295373