In [1]:
import pandas as pd
import numpy as np
import pickle
import seaborn as sns

from matplotlib import pyplot as plt
from medcat.cat import CAT
import re
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

C:\Users\BILAL\AppData\Roaming\Python\Python37\site-packages\medcat\cat.py:18: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm, trange
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\BILAL\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [22]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 8.7 MB/s eta 0:00:00
Requirement already satisfied: click in d:\anaconda3\envs\new_python\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: tqdm in d:\anaconda3\envs\new_python\lib\site-packages (from nltk) (4.66.1)
Requirement already satisfied: joblib in d:\anaconda3\envs\new_python\lib\site-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in d:\anaconda3\envs\new_python\lib\site-packages (from nltk) (2023.10.3)
Requirement already satisfied: importlib-metadata in d:\anaconda3\envs\new_python\lib\site-packages (from click->nltk) (4.11.3)
Requirement already satisfied: colorama in d:\anaconda3\envs\new_python\lib\site-packages (from click->nltk) (0.4.6)
Requirement already satisfied: typing-extensions>=3.6.4 in d:\anaconda3\envs\new_python\lib\site-packages (from importlib-metadata->click->nltk) (3.10.0.2)
Requirement already satisfied: zipp>=0.5 in d:\anaconda3\envs\new_python\lib\site-packages (from importlib-metadata->click->nltk) (3.11.0)
Installing collected packages: nltk
Successfully installed nltk-3.8.1

WARNING: Ignoring invalid distribution -andas (d:\anaconda3\envs\new_python\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\anaconda3\envs\new_python\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\anaconda3\envs\new_python\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\anaconda3\envs\new_python\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\anaconda3\envs\new_python\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\anaconda3\envs\new_python\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\anaconda3\envs\new_python\lib\site-packages)

In [2]:
# Load model pack and Create CAT - the main class from medcat used for concept annotation

model_pack_path = 'medcat/mc_modelpack_snomed_int_16_mar_2022_25be3857ba34bdd5'
cat = CAT.load_model_pack(model_pack_path)

Found an existing unziped model pack at: medcat\mc_modelpack_snomed_int_16_mar_2022_25be3857ba34bdd5, the provided zip will not be touched.
{
  "Model ID": "25be3857ba34bdd5",
  "Last Modifed On": "16 March 2022",
  "History (from least to most recent)": [
    "a474096eb4566638",
    "009617d7ff372682"
  ],
  "Description": "SNOMED INT enriched with UMLS and trained unsupervised on MIMIC-III",
  "Source Ontology": "SnomedCT_InternationalRF2_PRODUCTION_20210131T120000Z",
  "Location": "MedCAT Rosalind machine, available for public download from https://github.com/CogStack/MedCAT",
  "MetaCAT models": {
    "Status": "Detects is a concept Affirmed or Negated/Hypothetical"
  },
  "Basic CDB Stats": {
    "Number of concepts": 354448,
    "Number of names": 2049216,
    "Number of concepts that received training": 29674,
    "Number of seen training examples in total": 20585988,
    "Average training examples per concept": 693.7382220125362
  },
  "Performance": {
    "ner": {},
    "meta": {}
  },
  "Important Parameters (Partial view, all available in cat.config)": {
    "config.ner['min_name_len']": {
      "value": 3,
      "description": "Minimum detection length (found terms/mentions shorter than this will not be detected)."
    },
    "config.ner['upper_case_limit_len']": {
      "value": 4,
      "description": "All detected terms shorter than this value have to be uppercase, otherwise they will be ignored."
    },
    "config.linking['similarity_threshold']": {
      "value": 0.2,
      "description": "If the confidence of the model is lower than this a detection will be ignore."
    },
    "config.general['spell_check']": {
      "value": true,
      "description": "Is spell checking enabled."
    },
    "config.general['spell_check_len_limit']": {
      "value": 7,
      "description": "Words shorter than this will not be spell checked."
    }
  }
}

In [3]:
test_notes = pd.read_csv('1000_testing_notes_with_smallest_size.csv')
test_notes

,Unnamed: 0,hadm_id,text,text_length
0,0,20019282,\nName: ___ Unit No: ___\n...,2480
1,1,20022343,\nName: ___ Unit No: _...,3001
2,2,20025548,\nName: ___ Unit No: ___\n...,2961
3,3,20027416,\nName: ___ Unit No: ___\n...,1059
4,4,20028418,\nName: ___ Unit No: ___\n \...,1091
...,...,...,...,...
1010,1010,29980814,\nName: ___ Unit No: _...,3329
1011,1011,29980930,\nName: ___ Unit No: ___...,1094
1012,1012,29987299,\nName: ___ Unit No: ___\...,2595
1013,1013,29988390,\nName: ___ Unit No: ...,3013
1014,1014,29990058,\nName: ___ Unit No: ___\n...,3051

In [4]:
test_notes.drop(columns = ['Unnamed: 0'], inplace = True)

In [5]:
unique_hadm_notes = test_notes[['hadm_id', 'text']].drop_duplicates(subset='hadm_id')

In [184]:
unique_hadm_notes

       hadm_id                                               text
0     20019282  sex m orthopaedics allergies erythromycin base...
1     20022343  sex f obstetricsgynecology allergies bactrim p...
2     20025548  sex f obstetricsgynecology allergies no known ...
3     20027416  sex m otolaryngology allergies ragweed chief c...
4     20028418  sex f medicine allergies erythromycin base pac...
...        ...                                                ...
1010  29980814  sex f obstetricsgynecology allergies gelatin c...
1011  29980930  sex f medicine allergies morphine chief compla...
1012  29987299  sex m medicine allergies none attach  laborato...
1013  29988390  sex f surgery allergies animal danderpollendus...
1014  29990058  sex f obstetricsgynecology allergies no known ...

[1015 rows x 2 columns]

In [7]:
unique_hadm_notes = unique_hadm_notes.reset_index(drop = True)

In [8]:
unique_hadm_notes.text[0]

' \nName:  ___                 Unit No:   ___\n \nAdmission Date:  ___              Discharge Date:   ___\n \nDate of Birth:  ___             Sex:   M\n \nService: ORTHOPAEDICS\n \nAllergies: \nerythromycin base\n \nAttending: ___.\n \nChief Complaint:\nLeft ankle fracture\n \nMajor Surgical or Invasive Procedure:\nORIF left ankle ___\n \nHistory of Present Illness:\n___ yr old man fall down 3 stairs while holding lumbar at \nconstruction\njob, resulting in immediate L ankle pain. ED ankle fracture, \nsurgery performed\n\n \nPast Medical History:\nPrevious R ankle fracture\nRLE cellulitis\nOsteoarthritis\n\n \nSocial History:\n___\nFamily History:\nN/A\n \nPhysical Exam:\nAOXO3\nsplint intact, positive CSM\nPain well controlled, no N/V\n\n \nPertinent Results:\n___ 08:28PM   WBC-9.5 RBC-4.49* HGB-13.7 HCT-41.0 MCV-91 \nMCH-30.5 MCHC-33.4 RDW-13.8 RDWSD-46.7*\n___ 08:28PM   GLUCOSE-96 UREA N-13 CREAT-0.7 SODIUM-145 \nPOTASSIUM-4.1 CHLORIDE-108 TOTAL CO2-24 ANION GAP-13\n___ 08:28PM   CALCIUM-9.0 PHOSPHATE-3.5 MAGNESIUM-1.9\n \nBrief Hospital Course:\nTaken to operating room and underwent surgical fixation of ankle \nfracture on ___. No complications. Post op doing well, pain \nwell controlled. Cleared by ___ to go home without services\n \nMedications on Admission:\nThe Preadmission Medication list is accurate and complete.\n1. Multivitamins 1 TAB PO DAILY \n2. Naproxen 500 mg PO Q8H:PRN Pain - Mild \n\n \nDischarge Medications:\n1.  Acetaminophen 1000 mg PO Q8H \nRX *acetaminophen 500 mg 2 tablet(s) by mouth every eight (8) \nhours Disp #*40 Tablet Refills:*0 \n2.  Aspirin 325 mg PO DAILY \nRX *aspirin 325 mg 1 tablet(s) by mouth once a day Disp #*14 \nTablet Refills:*0 \n3.  Docusate Sodium 100 mg PO BID \nRX *docusate sodium 100 mg 1 capsule(s) by mouth twice a day \nDisp #*30 Capsule Refills:*0 \n4.  Ondansetron 4 mg PO Q8H:PRN severe nausea \nRX *ondansetron 4 mg 1 tablet(s) by mouth every six (6) hours \nDisp #*8 Tablet Refills:*0 \n5.  OxyCODONE (Immediate Release) ___ mg PO Q4H:PRN Pain - \nModerate \nRX *oxycodone 5 mg ___ tablet(s) by mouth every four (4) hours- \n(6) hours Disp #*60 Tablet Refills:*0 \n6.  Multivitamins 1 TAB PO DAILY  \n\n \nDischarge Disposition:\nHome\n \nDischarge Diagnosis:\nleft ankle fracture, s/p ORIF ___\n \nDischarge Condition:\nMental Status: Clear and coherent.\nLevel of Consciousness: Alert and interactive.\nActivity Status: Ambulatory - Independent.\n \nDischarge Instructions:\nNWB to LLE\nKeep splint dry, in place\nElevate LLE\nFollow up in ___ clinic in 2 weeks\n \nFollowup Instructions:\n___\n'

In [9]:
def preprocess_clinical_notes(notes):
    # Convert the text to lowercase
    notes = notes.lower()
    
    # Remove special characters, irrelevant numbers, and newlines
    notes = re.sub(r'[^a-zA-Z0-9\s]', '', notes)
    notes = re.sub(r'\d+', '', notes)
    notes = re.sub(r'\s+', ' ', notes).strip()

    # Remove unnecessary sections
    notes = re.sub(r'(name|unit no|admission date|discharge date|date of birth|service|attending|major surgical or invasive procedure)', '', notes)

#     # Remove Chief Complaint
#     notes = re.sub(r'chief complaint', '', notes)

    # Remove History of Present Illness header and extra spaces
    notes = re.sub(r'history of present illness', '', notes)
    notes = re.sub(r' +', ' ', notes).strip()

    # Remove Past Medical History
    notes = re.sub(r'past medical history', '', notes)

    # Remove Social History
    notes = re.sub(r'social history', '', notes)

    # Remove Family History
    notes = re.sub(r'family history', '', notes)

#     # Remove Physical Exam
#     notes = re.sub(r'physical exam|admission exam|discharge exam', '', notes)

    # Remove Pertinent Results
    notes = re.sub(r'pertinent results|admission labs|relevant labs', '', notes)

#     # Remove Brief Hospital Course
#     notes = re.sub(r'brief hospital course', '', notes)

#     # Remove Acute Issues and Chronic Issues
#     notes = re.sub(r'acute issues|chronic issues', '', notes)

    # Remove Follow-up
    notes = re.sub(r'follow-up', '', notes)

    # Remove Medications on Admission
    notes = re.sub(r'medications on admission', '', notes)

    # Remove Discharge Medications
    notes = re.sub(r'discharge medications', '', notes)

    # Remove Discharge Disposition
    notes = re.sub(r'discharge disposition', '', notes)

#     # Remove Discharge Diagnosis
#     notes = re.sub(r'discharge diagnosis', '', notes)

#     # Remove Discharge Condition
#     notes = re.sub(r'discharge condition', '', notes)

    # Remove Discharge Instructions
    notes = re.sub(r'discharge instructions', '', notes)

    # Remove Transitional issues/outpatient plan
    notes = re.sub(r'transitional issuesoutpatient plan', '', notes)

    return notes

In [10]:
preprocess_clinical_notes(unique_hadm_notes.text[0])

'sex m orthopaedics allergies erythromycin base chief complaint left ankle fracture orif left ankle yr old man fall down stairs while holding lumbar at construction job resulting in immediate l ankle pain ed ankle fracture surgery performed  previous r ankle fracture rle cellulitis osteoarthritis   na physical exam aoxo splint intact positive csm pain well controlled no nv  pm wbc rbc hgb hct mcv mch mchc rdw rdwsd pm glucose urea n creat sodium potassium chloride total co anion gap pm calcium phosphate magnesium brief hospital course taken to operating room and underwent surgical fixation of ankle fracture on no complications post op doing well pain well controlled cleared by to go home without s  the preadmission medication list is accurate and complete multivitamins tab po daily naproxen mg po qhprn pain mild  acetaminophen mg po qh rx acetaminophen mg tablets by mouth every eight hours disp tablet refills aspirin mg po daily rx aspirin mg tablets by mouth once a day disp tablet refills docusate sodium mg po bid rx docusate sodium mg capsules by mouth twice a day disp capsule refills ondansetron mg po qhprn severe nausea rx ondansetron mg tablets by mouth every six hours disp tablet refills oxycodone immediate release mg po qhprn pain moderate rx oxycodone mg tablets by mouth every four hours hours disp tablet refills multivitamins tab po daily  home discharge diagnosis left ankle fracture sp orif discharge condition mental status clear and coherent level of consciousness alert and interactive activity status ambulatory independent  nwb to lle keep splint dry in place elevate lle follow up in clinic in weeks followup instructions'

In [11]:
unique_hadm_notes['text'] = unique_hadm_notes['text'].apply(preprocess_clinical_notes)
unique_hadm_notes

       hadm_id                                               text
0     20019282  sex m orthopaedics allergies erythromycin base...
1     20022343  sex f obstetricsgynecology allergies bactrim p...
2     20025548  sex f obstetricsgynecology allergies no known ...
3     20027416  sex m otolaryngology allergies ragweed chief c...
4     20028418  sex f medicine allergies erythromycin base pac...
...        ...                                                ...
1010  29980814  sex f obstetricsgynecology allergies gelatin c...
1011  29980930  sex f medicine allergies morphine chief compla...
1012  29987299  sex m medicine allergies none attach  laborato...
1013  29988390  sex f surgery allergies animal danderpollendus...
1014  29990058  sex f obstetricsgynecology allergies no known ...

[1015 rows x 2 columns]

In [12]:
icd10_data = {
    'hadm_id': [],
    'icd10_codes': []
}

In [13]:
i = 0
for index, row in unique_hadm_notes.iterrows():
    i +=1
    
    if i%100 ==0:
        print(f'{i} notes have been processed!', '\n')
        
        
    single_note = row['text']
    hadm_id = row['hadm_id']

    # Get the entities from the text
    all_entities = cat.get_entities(single_note)

    icd_codes = set()  # Using a set to automatically remove duplicates

    for entity_id, entity_data in all_entities['entities'].items():
        icd10 = entity_data.get('icd10', [])
        for code in icd10:
            if code:  # Check if the code is not an empty string
                icd_codes.add(code)

    icd10_data['hadm_id'].append(hadm_id)
    icd10_data['icd10_codes'].append(list(icd_codes))

100 notes have been processed!

200 notes have been processed!

300 notes have been processed!

400 notes have been processed!

500 notes have been processed!

600 notes have been processed!

700 notes have been processed!

800 notes have been processed!

900 notes have been processed!

1000 notes have been processed!

In [14]:
# Create a DataFrame from the processed data
df_icd10 = pd.DataFrame(icd10_data)
df_icd10

       hadm_id                                        icd10_codes
0     20019282  [M19.99, S82.80, W10, M79.67, L03.9, T81.9, R5...
1     20022343  [L53.9, R50.9, R10.4, O60.0, O32.1, R52.9, R00...
2     20025548  [R99, A09.9, R25.8, Z80.9, R19.8, K56.6, T88.7...
3     20027416         [C76.0, E78.5, R52.9, F41.9, C80.9, R22.1]
4     20028418                                [D39.1, Z88.9, R11]
...        ...                                                ...
1010  29980814  [T14.0, R50.9, R79.8, A64, K59.0, R58, R19.8, ...
1011  29980930                                            [Z88.9]
1012  29987299                    [R58, D61.9, R31, Z88.9, D47.1]
1013  29988390  [R50.9, R10.4, D72.8, E07.9, K80.5, N23, R19.8...
1014  29990058  [R22.2, R51, K59.0, O13, R19.8, T88.7, R52.9, ...

[1015 rows x 2 columns]

In [ ]:
filtered_test_notes['icd_code'].unique()+

In [15]:
def reformat(code):
    code = ''.join(code.split('.'))
    code = code[:3] + '.'
    return code

In [16]:
df_icd10['icd10_codes'] = df_icd10['icd10_codes'].apply(lambda lst: [reformat(x) for x in lst])
df_icd10

       hadm_id                                        icd10_codes
0     20019282   [M19., S82., W10., M79., L03., T81., R52., R11.]
1     20022343  [L53., R50., R10., O60., O32., R52., R00., R58...
2     20025548  [R99., A09., R25., Z80., R19., K56., T88., N94...
3     20027416               [C76., E78., R52., F41., C80., R22.]
4     20028418                                 [D39., Z88., R11.]
...        ...                                                ...
1010  29980814  [T14., R50., R79., A64., K59., R58., R19., E16...
1011  29980930                                             [Z88.]
1012  29987299                     [R58., D61., R31., Z88., D47.]
1013  29988390  [R50., R10., D72., E07., K80., N23., R19., K81...
1014  29990058  [R22., R51., K59., O13., R19., T88., R52., I10...

[1015 rows x 2 columns]

In [60]:
# df_icd10.to_csv('test_set_mapped_icd_hadmids_1k.csv')

# unique_hadm_notes.to_csv('test_set_unique_notes_hadmids_1k.csv')

In [20]:
df_icd10.dtypes

hadm_id         int64
icd10_codes    object
dtype: object

In [200]:
def only_keep_unique_codes(input_list):
    set_list = set(input_list)
    return list(set_list)

In [201]:
df_icd10['icd10_codes'] = df_icd10['icd10_codes'].apply(only_keep_unique_codes)

In [202]:
#Make this on category level:
df_icd10

       hadm_id                                        icd10_codes
0     20019282   [M19., L03., R11., T81., W10., S82., M79., R52.]
1     20022343  [R58., R42., N93., L53., R50., R10., R06., O32...
2     20025548  [T88., R58., R99., R51., R52., R19., K56., R11...
3     20027416               [C76., C80., F41., E78., R22., R52.]
4     20028418                                 [R11., Z88., D39.]
...        ...                                                ...
1010  29980814  [R58., A64., E16., F41., D61., R19., T14., R50...
1011  29980930                                             [Z88.]
1012  29987299                     [R58., D61., R31., D47., Z88.]
1013  29988390  [N23., D72., K80., R19., K81., R50., R10., R11...
1014  29990058  [T88., R58., I10., R19., O13., R10., R06., O69...

[1015 rows x 2 columns]

In [204]:
df_icd10.drop_duplicates(subset = ['hadm_id'], inplace = True)

In [23]:
icd_codes_with_smallest_size_notes = pd.read_csv('icd_codes_for_1000_testing_notes_with_smallest_size.csv')
icd_codes_with_smallest_size_notes.drop(columns = ['Unnamed: 0'], inplace = True)
icd_codes_with_smallest_size_notes

       hadm_id icd_code
0     20019282     S82.
1     20019282     Z72.
2     20019282     W10.
3     20019282     Y92.
4     20022343     O60.
...        ...      ...
8580  29990058     Z30.
8581  29990058     Z23.
8582  29990058     Z86.
8583  29990058     K21.
8584  29990058     Z59.

[8585 rows x 2 columns]

In [24]:
final_notes_with_icd_codes = pd.merge(unique_hadm_notes, icd_codes_with_smallest_size_notes, on='hadm_id', how='left')
final_notes_with_icd_codes

       hadm_id                                               text icd_code
0     20019282  sex m orthopaedics allergies erythromycin base...     S82.
1     20019282  sex m orthopaedics allergies erythromycin base...     Z72.
2     20019282  sex m orthopaedics allergies erythromycin base...     W10.
3     20019282  sex m orthopaedics allergies erythromycin base...     Y92.
4     20022343  sex f obstetricsgynecology allergies bactrim p...     O60.
...        ...                                                ...      ...
8580  29990058  sex f obstetricsgynecology allergies no known ...     Z30.
8581  29990058  sex f obstetricsgynecology allergies no known ...     Z23.
8582  29990058  sex f obstetricsgynecology allergies no known ...     Z86.
8583  29990058  sex f obstetricsgynecology allergies no known ...     K21.
8584  29990058  sex f obstetricsgynecology allergies no known ...     Z59.

[8585 rows x 3 columns]

In [206]:
predicted = []
for codes in df_icd10.icd10_codes:
    for code in codes:
        predicted.append(code)

In [87]:
unique_icd_codes = set(np.append(final_notes_with_icd_codes.icd_code.unique(), predicted)) #.union(set(icd_code for icd_list in df_icd10['icd10_codes'] for icd_code in icd_list))

In [208]:

unique_icd_codes = set(final_notes_with_icd_codes['icd_code']) #.union(set(icd_code for icd_list in df_icd10['icd10_codes'] for icd_code in icd_list))

In [209]:
len(unique_icd_codes)

769

In [210]:
final_notes_with_icd_codes.icd_code.nunique()

769

In [211]:
# Step 3: Initialize TP, FP, FN, TN counts
counts = {icd_code: (0, 0, 0, 0) for icd_code in unique_icd_codes}

In [212]:
i = 0
for icd_code in unique_icd_codes:
    i+=1
    if i%100 == 0:
        print(f'{i} codes are done!')
    
    true_icd_codes = final_notes_with_icd_codes[final_notes_with_icd_codes['icd_code'] == icd_code]['hadm_id'].values
    predicted_icd_codes = df_icd10[df_icd10['icd10_codes'].apply(lambda x: icd_code in x)]['hadm_id'].values

    TP = np.intersect1d(true_icd_codes, predicted_icd_codes)
    FP = np.setdiff1d(predicted_icd_codes, true_icd_codes)
    FN = np.setdiff1d(true_icd_codes, predicted_icd_codes)
    TN = len(np.union1d(predicted_icd_codes, true_icd_codes)) -len(TP) -len(FP) -len(FN)


    counts[icd_code] = (len(TP), len(FP), len(FN), TN)

100 codes are done!
200 codes are done!
300 codes are done!
400 codes are done!
500 codes are done!
600 codes are done!
700 codes are done!

In [213]:
counts

{'F43.': (5, 2, 10, 0),
 'X99.': (1, 1, 0, 0),
 'W39.': (0, 0, 1, 0),
 'Z15.': (0, 0, 2, 0),
 'J70.': (0, 0, 1, 0),
 'D53.': (0, 0, 2, 0),
 'K66.': (2, 3, 1, 0),
 'K25.': (1, 5, 1, 0),
 'O11.': (0, 0, 7, 0),
 'S70.': (0, 1, 2, 0),
 'Z39.': (0, 0, 6, 0),
 'D65.': (0, 0, 6, 0),
 'Y04.': (0, 1, 2, 0),
 'F48.': (0, 0, 1, 0),
 'K60.': (1, 0, 0, 0),
 'S00.': (0, 0, 5, 0),
 'K62.': (1, 4, 8, 0),
 'J04.': (0, 0, 1, 0),
 'S31.': (0, 2, 2, 0),
 'K58.': (0, 0, 4, 0),
 'O09.': (0, 0, 36, 0),
 'R97.': (0, 0, 6, 0),
 'G46.': (0, 0, 1, 0),
 'R60.': (2, 54, 3, 0),
 'C34.': (5, 11, 5, 0),
 'N85.': (1, 1, 9, 0),
 'H46.': (0, 0, 1, 0),
 'Z30.': (0, 0, 4, 0),
 'C73.': (1, 5, 1, 0),
 'R62.': (0, 3, 1, 0),
 'E89.': (0, 0, 4, 0),
 'C01.': (0, 0, 1, 0),
 'H54.': (2, 1, 4, 0),
 'O71.': (0, 1, 8, 0),
 'R18.': (5, 5, 7, 0),
 'O67.': (0, 0, 1, 0),
 'J30.': (1, 8, 6, 0),
 'O62.': (0, 6, 12, 0),
 'Z63.': (0, 5, 1, 0),
 'W54.': (0, 0, 1, 0),
 'I05.': (0, 1, 1, 0),
 'E05.': (1, 2, 0, 0),
 'R58.': (1, 186, 0, 0),
 'S26.': (0, 0, 1, 0),
 'I67.': (0, 7, 2, 0),
 'S68.': (0, 0, 9, 0),
 'I73.': (5, 8, 9, 0),
 'T71.': (1, 0, 1, 0),
 'Z09.': (0, 0, 1, 0),
 'N92.': (0, 25, 1, 0),
 'W10.': (4, 0, 13, 0),
 'I69.': (0, 0, 16, 0),
 'O76.': (0, 0, 30, 0),
 'I21.': (5, 11, 5, 0),
 'Z83.': (0, 0, 3, 0),
 'I31.': (2, 2, 2, 0),
 'O9A.': (0, 0, 3, 0),
 'C76.': (0, 2, 1, 0),
 'E65.': (0, 1, 1, 0),
 'N48.': (2, 0, 1, 0),
 'H80.': (0, 0, 1, 0),
 'S65.': (0, 0, 6, 0),
 'J81.': (1, 5, 4, 0),
 'D55.': (0, 0, 2, 0),
 'K22.': (5, 2, 6, 0),
 'N98.': (1, 0, 0, 0),
 'H52.': (0, 1, 1, 0),
 'R39.': (0, 10, 3, 0),
 'D78.': (0, 0, 1, 0),
 'T88.': (1, 447, 1, 0),
 'A15.': (0, 0, 1, 0),
 'J01.': (0, 0, 1, 0),
 'N11.': (0, 0, 1, 0),
 'D63.': (0, 0, 14, 0),
 'R82.': (0, 4, 2, 0),
 'F79.': (0, 2, 2, 0),
 'C64.': (0, 3, 1, 0),
 'F51.': (0, 0, 1, 0),
 'M00.': (2, 4, 1, 0),
 'C79.': (6, 4, 19, 0),
 'F10.': (14, 8, 18, 0),
 'E06.': (0, 0, 1, 0),
 'M32.': (1, 0, 1, 0),
 'O16.': (0, 1, 5, 0),
 'K55.': (3, 1, 7, 0),
 'Q65.': (2, 0, 0, 0),
 'Z99.': (0, 0, 27, 0),
 'O46.': (1, 1, 4, 0),
 'N30.': (1, 2, 1, 0),
 'Y09.': (1, 2, 0, 0),
 'R33.': (4, 5, 22, 0),
 'S20.': (0, 0, 1, 0),
 'O20.': (0, 0, 1, 0),
 'C71.': (0, 0, 1, 0),
 'G82.': (2, 0, 2, 0),
 'I42.': (3, 4, 2, 0),
 'O30.': (3, 0, 10, 0),
 'W34.': (0, 1, 2, 0),
 'Y69.': (0, 0, 1, 0),
 'M41.': (0, 0, 4, 0),
 'K13.': (0, 76, 1, 0),
 'S66.': (0, 0, 10, 0),
 'L98.': (2, 21, 2, 0),
 'G30.': (5, 3, 3, 0),
 'X95.': (0, 0, 2, 0),
 'K56.': (17, 9, 3, 0),
 'V47.': (0, 0, 3, 0),
 'L57.': (0, 0, 2, 0),
 'Z91.': (0, 19, 25, 0),
 'E22.': (0, 0, 3, 0),
 'Z04.': (0, 0, 1, 0),
 'D32.': (1, 3, 0, 0),
 'D49.': (0, 0, 2, 0),
 'I13.': (0, 0, 10, 0),
 'H53.': (1, 12, 0, 0),
 'V00.': (0, 0, 1, 0),
 'I50.': (15, 5, 24, 0),
 'Z21.': (0, 0, 13, 0),
 'J34.': (0, 7, 1, 0),
 'E44.': (0, 0, 3, 0),
 'Z33.': (1, 94, 3, 0),
 'C55.': (0, 1, 1, 0),
 'S76.': (0, 0, 2, 0),
 'Y82.': (0, 0, 1, 0),
 'N18.': (15, 3, 37, 0),
 'O69.': (5, 1, 23, 0),
 'O33.': (1, 0, 1, 0),
 'O98.': (0, 0, 15, 0),
 'Y65.': (0, 0, 1, 0),
 'E21.': (2, 4, 0, 0),
 'C43.': (0, 0, 1, 0),
 'C15.': (0, 1, 1, 0),
 'E83.': (4, 7, 12, 0),
 'T23.': (0, 0, 1, 0),
 'C83.': (0, 0, 3, 0),
 'W08.': (0, 0, 1, 0),
 'R42.': (3, 66, 4, 0),
 'D46.': (0, 0, 1, 0),
 'R64.': (0, 0, 3, 0),
 'V49.': (0, 0, 3, 0),
 'D89.': (0, 0, 1, 0),
 'G81.': (2, 3, 3, 0),
 'F12.': (1, 1, 8, 0),
 'D25.': (9, 48, 8, 0),
 'C22.': (2, 2, 6, 0),
 'C61.': (1, 17, 2, 0),
 'V43.': (0, 0, 4, 0),
 'B91.': (0, 0, 1, 0),
 'B96.': (0, 0, 19, 0),
 'M96.': (0, 0, 4, 0),
 'J15.': (0, 2, 1, 0),
 'W20.': (0, 0, 2, 0),
 'N17.': (9, 1, 44, 0),
 'L60.': (0, 0, 1, 0),
 'D62.': (1, 0, 30, 0),
 'M26.': (0, 0, 3, 0),
 'N73.': (0, 1, 4, 0),
 'R05.': (1, 37, 2, 0),
 'S30.': (1, 0, 6, 0),
 'W15.': (0, 0, 1, 0),
 'Q27.': (3, 0, 2, 0),
 'D56.': (1, 0, 1, 0),
 'Q90.': (2, 0, 0, 0),
 'I36.': (0, 0, 1, 0),
 'Q89.': (2, 16, 1, 0),
 'T68.': (0, 0, 2, 0),
 'M18.': (0, 0, 1, 0),
 'O72.': (18, 3, 7, 0),
 'I74.': (1, 2, 1, 0),
 'L03.': (14, 13, 10, 0),
 'C77.': (0, 0, 7, 0),
 'N60.': (0, 1, 3, 0),
 'X83.': (0, 0, 2, 0),
 'C54.': (0, 1, 3, 0),
 'I35.': (11, 8, 2, 0),
 'R65.': (0, 0, 14, 0),
 'O90.': (2, 0, 15, 0),
 'M62.': (3, 15, 7, 0),
 'R04.': (0, 7, 4, 0),
 'F42.': (0, 0, 2, 0),
 'K43.': (6, 7, 1, 0),
 'S02.': (9, 2, 7, 0),
 'S60.': (0, 0, 2, 0),
 'H91.': (2, 2, 2, 0),
 'G35.': (3, 1, 3, 0),
 'T41.': (0, 0, 1, 0),
 'M87.': (0, 0, 3, 0),
 'I99.': (1, 19, 0, 0),
 'Z95.': (0, 1, 48, 0),
 'T45.': (0, 0, 9, 0),
 'J93.': (2, 9, 2, 0),
 'Z67.': (0, 0, 2, 0),
 'S61.': (4, 4, 12, 0),
 'S53.': (0, 0, 1, 0),
 'B19.': (0, 0, 17, 0),
 'R52.': (1, 678, 2, 0),
 'S32.': (3, 0, 5, 0),
 'R12.': (1, 6, 0, 0),
 'I61.': (6, 4, 11, 0),
 'J39.': (3, 5, 1, 0),
 'M86.': (0, 5, 2, 0),
 'X58.': (0, 0, 32, 0),
 'R19.': (1, 347, 8, 0),
 'C32.': (0, 0, 1, 0),
 'D27.': (0, 0, 2, 0),
 'G24.': (1, 0, 0, 0),
 'J09.': (0, 0, 1, 0),
 'I46.': (11, 15, 4, 0),
 'J80.': (1, 1, 1, 0),
 'I10.': (8, 27, 216, 0),
 'G58.': (1, 1, 1, 0),
 'F98.': (0, 0, 1, 0),
 'O99.': (2, 0, 128, 0),
 'E85.': (1, 0, 0, 0),
 'R57.': (6, 4, 14, 0),
 'T43.': (0, 0, 3, 0),
 'L40.': (2, 3, 1, 0),
 'R17.': (1, 31, 0, 0),
 'Y93.': (0, 0, 6, 0),
 'S54.': (0, 1, 1, 0),
 'M60.': (1, 0, 1, 0),
 'N83.': (3, 13, 3, 0),
 'A60.': (0, 3, 4, 0),
 'F14.': (0, 0, 8, 0),
 'F20.': (1, 1, 3, 0),
 'M17.': (3, 1, 8, 0),
 'D83.': (1, 0, 0, 0),
 'C56.': (0, 0, 6, 0),
 'K70.': (4, 1, 7, 0),
 'R14.': (0, 23, 1, 0),
 'I51.': (1, 24, 2, 0),
 'D12.': (0, 1, 3, 0),
 'M79.': (6, 48, 17, 0),
 'I87.': (2, 2, 8, 0),
 'D68.': (6, 11, 15, 0),
 'F63.': (0, 1, 2, 0),
 'F84.': (1, 0, 0, 0),
 'J06.': (0, 0, 5, 0),
 'I83.': (0, 6, 4, 0),
 'O22.': (0, 0, 1, 0),
 'K08.': (0, 2, 1, 0),
 'T83.': (0, 0, 1, 0),
 'O70.': (0, 1, 33, 0),
 'S21.': (0, 1, 1, 0),
 'R68.': (2, 37, 2, 0),
 'M24.': (2, 2, 5, 0),
 'S92.': (3, 0, 2, 0),
 'O43.': (4, 4, 7, 0),
 'O21.': (2, 0, 3, 0),
 'M67.': (0, 0, 2, 0),
 'S06.': (8, 6, 19, 0),
 'K21.': (42, 11, 62, 0),
 'L02.': (5, 6, 7, 0),
 'O08.': (0, 0, 1, 0),
 'K80.': (13, 3, 2, 0),
 'I49.': (2, 6, 7, 0),
 'S43.': (0, 0, 5, 0),
 'K72.': (4, 2, 14, 0),
 'I48.': (56, 3, 18, 0),
 'D69.': (1, 0, 20, 0),
 'O00.': (3, 1, 0, 0),
 'E86.': (5, 4, 19, 0),
 'B00.': (3, 0, 6, 0),
 'R09.': (5, 86, 11, 0),
 'W69.': (0, 0, 1, 0),
 'H40.': (7, 4, 4, 0),
 'I44.': (1, 1, 4, 0),
 'S51.': (0, 0, 2, 0),
 'F31.': (5, 2, 12, 0),
 'M16.': (3, 1, 0, 0),
 'I97.': (0, 0, 8, 0),
 'R23.': (0, 35, 1, 0),
 'O75.': (0, 0, 9, 0),
 'E53.': (0, 0, 1, 0),
 'Z17.': (0, 0, 4, 0),
 'W22.': (0, 0, 1, 0),
 'B35.': (0, 0, 1, 0),
 'M53.': (1, 1, 0, 0),
 'L97.': (4, 1, 9, 0),
 'H66.': (1, 0, 0, 0),
 'Z74.': (0, 0, 2, 0),
 'S56.': (0, 0, 3, 0),
 'V48.': (0, 0, 3, 0),
 'F09.': (0, 0, 1, 0),
 'Z72.': (2, 25, 17, 0),
 'T81.': (1, 29, 20, 0),
 'S93.': (0, 0, 3, 0),
 'G83.': (0, 17, 2, 0),
 'K26.': (1, 1, 2, 0),
 'H49.': (0, 1, 1, 0),
 'I65.': (3, 4, 4, 0),
 'J95.': (0, 0, 9, 0),
 'L89.': (0, 0, 4, 0),
 'J45.': (41, 29, 39, 0),
 'S34.': (0, 0, 1, 0),
 'O60.': (13, 35, 9, 0),
 'D66.': (2, 0, 1, 0),
 'J11.': (1, 3, 1, 0),
 'I27.': (3, 3, 9, 0),
 'Z14.': (0, 0, 2, 0),
 'M97.': (0, 0, 1, 0),
 'I22.': (0, 0, 1, 0),
 'A08.': (1, 1, 1, 0),
 'L08.': (0, 11, 3, 0),
 'R59.': (1, 15, 4, 0),
 'Z85.': (0, 2, 111, 0),
 'R06.': (8, 234, 2, 0),
 'J69.': (3, 2, 5, 0),
 'Z92.': (0, 5, 10, 0),
 'A54.': (0, 0, 1, 0),
 'N80.': (1, 9, 3, 0),
 'O48.': (1, 0, 6, 0),
 'R91.': (0, 13, 5, 0),
 'G93.': (19, 12, 23, 0),
 'O47.': (13, 19, 0, 0),
 'M40.': (0, 1, 1, 0),
 'L50.': (0, 3, 1, 0),
 'W23.': (0, 0, 2, 0),
 'S22.': (10, 3, 9, 0),
 'Z59.': (3, 2, 6, 0),
 'E11.': (14, 5, 84, 0),
 'K90.': (4, 3, 5, 0),
 'N71.': (0, 5, 1, 0),
 'V03.': (0, 0, 2, 0),
 'D50.': (4, 10, 12, 0),
 'K51.': (2, 4, 3, 0),
 'A09.': (1, 53, 0, 0),
 'T78.': (2, 15, 0, 0),
 'J96.': (17, 9, 38, 0),
 'Z66.': (0, 0, 100, 0),
 'N28.': (3, 6, 4, 0),
 'H93.': (0, 2, 1, 0),
 'C91.': (0, 0, 6, 0),
 'C26.': (0, 1, 2, 0),
 'S27.': (3, 1, 7, 0),
 'M20.': (1, 0, 0, 0),
 'F15.': (0, 0, 2, 0),
 'T18.': (0, 0, 1, 0),
 'W13.': (0, 0, 2, 0),
 'Y83.': (7, 0, 64, 0),
 'M75.': (5, 6, 5, 0),
 'J44.': (25, 7, 20, 0),
 'J02.': (1, 2, 2, 0),
 'T46.': (0, 0, 3, 0),
 'A46.': (1, 0, 1, 0),
 'Z89.': (0, 0, 11, 0),
 'Q21.': (0, 0, 1, 0),
 'T86.': (0, 0, 2, 0),
 'K86.': (4, 4, 6, 0),
 'L12.': (1, 0, 0, 0),
 'F32.': (28, 32, 72, 0),
 'I85.': (2, 3, 4, 0),
 'O12.': (0, 0, 2, 0),
 'I96.': (0, 0, 2, 0),
 'L72.': (0, 0, 1, 0),
 'Z82.': (4, 105, 1, 0),
 'W18.': (0, 0, 8, 0),
 'F40.': (0, 0, 1, 0),
 'B18.': (7, 18, 2, 0),
 'M06.': (5, 1, 7, 0),
 'I47.': (2, 2, 6, 0),
 'R40.': (8, 53, 12, 0),
 'Y08.': (0, 0, 1, 0),
 'K44.': (1, 3, 8, 0),
 'K76.': (10, 11, 6, 0),
 'T82.': (0, 0, 3, 0),
 'O64.': (0, 0, 2, 0),
 'R55.': (4, 17, 5, 0),
 'V86.': (0, 0, 3, 0),
 'T54.': (0, 0, 1, 0),
 'Z53.': (0, 7, 13, 0),
 'Q61.': (0, 0, 1, 0),
 'E46.': (0, 0, 10, 0),
 'D34.': (0, 0, 1, 0),
 'D24.': (0, 5, 2, 0),
 'N49.': (0, 0, 1, 0),
 'N35.': (1, 1, 0, 0),
 'T40.': (0, 1, 4, 0),
 'I34.': (1, 2, 7, 0),
 'R93.': (0, 1, 2, 0),
 'K20.': (4, 3, 0, 0),
 'W26.': (0, 0, 4, 0),
 'N50.': (1, 1, 0, 0),
 'N62.': (2, 2, 0, 0),
 'J42.': (0, 0, 1, 0),
 'C92.': (0, 0, 1, 0),
 'J18.': (8, 19, 4, 0),
 'I23.': (0, 0, 2, 0),
 'R51.': (7, 69, 6, 0),
 'C16.': (4, 5, 0, 0),
 'S83.': (0, 1, 2, 0),
 'K74.': (8, 9, 3, 0),
 'T42.': (0, 0, 4, 0),
 'V28.': (0, 0, 2, 0),
 'N65.': (0, 0, 3, 0),
 'L30.': (2, 2, 0, 0),
 'H26.': (1, 3, 3, 0),
 'G45.': (0, 1, 1, 0),
 'R49.': (1, 9, 2, 0),
 'K75.': (2, 7, 3, 0),
 'G91.': (4, 2, 3, 0),
 'C67.': (2, 3, 6, 0),
 'H90.': (1, 2, 1, 0),
 'S12.': (4, 1, 6, 0),
 'G89.': (0, 0, 51, 0),
 'E10.': (4, 4, 2, 0),
 'R73.': (3, 3, 6, 0),
 'G25.': (2, 6, 3, 0),
 'L05.': (1, 2, 1, 0),
 'M10.': (12, 6, 2, 0),
 'W19.': (0, 0, 20, 0),
 'Z3A.': (0, 0, 193, 0),
 'R78.': (0, 0, 4, 0),
 'I11.': (0, 0, 17, 0),
 'R94.': (0, 3, 7, 0),
 'Z48.': (0, 0, 2, 0),
 'E75.': (1, 0, 0, 0),
 'K41.': (0, 0, 1, 0),
 'O28.': (0, 0, 1, 0),
 'G62.': (4, 7, 7, 0),
 'I16.': (0, 0, 1, 0),
 'F19.': (0, 8, 2, 0),
 'S63.': (0, 0, 3, 0),
 'O32.': (3, 0, 10, 0),
 'T21.': (1, 0, 0, 0),
 'F90.': (1, 2, 6, 0),
 'S72.': (9, 3, 2, 0),
 'O41.': (8, 10, 5, 0),
 'O23.': (0, 1, 7, 0),
 'Z93.': (0, 0, 12, 0),
 'W27.': (0, 0, 1, 0),
 'M54.': (9, 58, 16, 0),
 'O45.': (1, 2, 5, 0),
 'V80.': (0, 0, 1, 0),
 'Z87.': (2, 14, 184, 0),
 'G43.': (12, 34, 6, 0),
 'D75.': (0, 0, 3, 0),
 'K28.': (1, 1, 0, 0),
 'R53.': (7, 89, 5, 0),
 'K82.': (1, 2, 2, 0),
 'R22.': (0, 79, 2, 0),
 'M12.': (0, 0, 2, 0),
 'M65.': (6, 3, 3, 0),
 'G72.': (0, 0, 1, 0),
 'N13.': (12, 4, 10, 0),
 'D64.': (13, 20, 32, 0),
 'R31.': (6, 12, 2, 0),
 'O24.': (3, 2, 21, 0),
 'O10.': (0, 0, 18, 0),
 'K65.': (1, 4, 2, 0),
 'C78.': (7, 3, 26, 0),
 'M47.': (4, 2, 6, 0),
 'L73.': (2, 1, 0, 0),
 'Z22.': (0, 0, 3, 0),
 'M84.': (1, 0, 5, 0),
 'V18.': (0, 0, 1, 0),
 'F41.': (48, 48, 58, 0),
 'M35.': (3, 4, 2, 0),
 'Q28.': (0, 0, 1, 0),
 'F11.': (1, 1, 15, 0),
 'T38.': (0, 0, 2, 0),
 'G97.': (0, 2, 2, 0),
 'X50.': (0, 0, 2, 0),
 'Z51.': (0, 0, 133, 0),
 'Q18.': (1, 1, 0, 0),
 'Y90.': (0, 0, 2, 0),
 'X31.': (0, 0, 1, 0),
 'G20.': (1, 0, 7, 0),
 'X16.': (0, 0, 1, 0),
 'E73.': (1, 1, 0, 0),
 'M25.': (8, 22, 7, 0),
 'Y92.': (0, 0, 245, 0),
 'L29.': (0, 7, 2, 0),
 'M43.': (0, 5, 1, 0),
 'Z47.': (0, 0, 2, 0),
 'O89.': (0, 0, 1, 0),
 'M51.': (2, 6, 7, 0),
 'Z28.': (0, 0, 2, 0),
 'O26.': (0, 0, 49, 0),
 'F01.': (1, 0, 3, 0),
 'J43.': (0, 1, 7, 0),
 'Y73.': (0, 0, 1, 0),
 'L01.': (1, 0, 0, 0),
 'A63.': (0, 0, 1, 0),
 'Z76.': (0, 0, 4, 0),
 'Z12.': (0, 0, 3, 0),
 'O13.': (12, 3, 9, 0),
 'R50.': (4, 205, 6, 0),
 'F39.': (1, 3, 2, 0),
 'R41.': (1, 20, 10, 0),
 'R74.': (0, 0, 9, 0),
 'Q23.': (1, 1, 1, 0),
 'Z41.': (0, 0, 3, 0),
 'Z79.': (0, 0, 122, 0),
 'F02.': (0, 0, 10, 0),
 'E80.': (0, 2, 1, 0),
 'O44.': (5, 2, 5, 0),
 'N76.': (1, 4, 1, 0),
 'C08.': (0, 0, 1, 0),
 'N52.': (0, 0, 3, 0),
 'M48.': (4, 5, 10, 0),
 'D48.': (0, 2, 1, 0),
 'G36.': (1, 0, 0, 0),
 'Z97.': (0, 0, 2, 0),
 'L21.': (1, 1, 0, 0),
 'D72.': (4, 18, 10, 0),
 'G80.': (1, 0, 2, 0),
 'N40.': (1, 0, 33, 0),
 'O77.': (0, 0, 12, 0),
 'N75.': (1, 2, 0, 0),
 'F64.': (2, 1, 1, 0),
 'B48.': (0, 0, 1, 0),
 'S41.': (0, 0, 1, 0),
 'A41.': (12, 19, 10, 0),
 'O74.': (0, 0, 1, 0),
 'F03.': (8, 10, 5, 0),
 'F54.': (0, 0, 1, 0),
 'V85.': (0, 0, 1, 0),
 'I86.': (0, 2, 1, 0),
 'R13.': (5, 10, 5, 0),
 'G03.': (1, 1, 0, 0),
 'N61.': (3, 3, 1, 0),
 'J91.': (0, 0, 3, 0),
 'M66.': (0, 0, 1, 0),
 'F30.': (1, 0, 0, 0),
 'Z78.': (0, 0, 15, 0),
 'O34.': (0, 0, 42, 0),
 'Z94.': (0, 0, 7, 0),
 'K52.': (1, 4, 2, 0),
 'R00.': (14, 47, 11, 0),
 'Z96.': (0, 0, 30, 0),
 'N97.': (1, 1, 0, 0),
 'O63.': (1, 2, 3, 0),
 'M46.': (2, 0, 0, 0),
 'D57.': (5, 2, 4, 0),
 'D37.': (0, 5, 2, 0),
 'G51.': (1, 1, 0, 0),
 'R07.': (5, 84, 3, 0),
 'O36.': (6, 30, 16, 0),
 'K91.': (1, 2, 16, 0),
 'E28.': (0, 2, 3, 0),
 'E16.': (3, 3, 1, 0),
 'R03.': (0, 4, 6, 0),
 'Z01.': (0, 0, 1, 0),
 'E03.': (50, 6, 24, 0),
 'N20.': (3, 34, 2, 0),
 'Y84.': (0, 0, 13, 0),
 'T63.': (0, 2, 1, 0),
 'K02.': (0, 0, 1, 0),
 'K11.': (3, 1, 1, 0),
 'R63.': (1, 47, 4, 0),
 'C84.': (0, 0, 2, 0),
 'I77.': (1, 2, 4, 0),
 'H81.': (0, 0, 2, 0),
 'V59.': (0, 0, 2, 0),
 'K81.': (2, 13, 0, 0),
 'R45.': (4, 35, 6, 0),
 'Z68.': (0, 0, 109, 0),
 'R10.': (22, 174, 8, 0),
 'M81.': (10, 3, 13, 0),
 'R79.': (0, 12, 9, 0),
 'W06.': (1, 1, 0, 0),
 'K29.': (0, 5, 1, 0),
 'C44.': (0, 5, 2, 0),
 'S82.': (17, 4, 7, 0),
 'I24.': (0, 1, 1, 0),
 'K64.': (6, 6, 4, 0),
 'V89.': (0, 0, 5, 0),
 'I26.': (2, 12, 2, 0),
 'L76.': (0, 0, 8, 0),
 'M85.': (3, 1, 4, 0),
 'V19.': (0, 1, 2, 0),
 'S37.': (0, 2, 1, 0),
 'I63.': (3, 5, 6, 0),
 'V88.': (0, 0, 1, 0),
 'T70.': (0, 2, 1, 0),
 'F53.': (0, 1, 1, 0),
 'C50.': (3, 27, 3, 0),
 'I12.': (0, 2, 34, 0),
 'S36.': (6, 2, 3, 0),
 'E23.': (2, 1, 2, 0),
 'R44.': (0, 2, 1, 0),
 'Q71.': (0, 0, 1, 0),
 'E27.': (2, 0, 1, 0),
 'N94.': (0, 9, 1, 0),
 'R25.': (0, 64, 2, 0),
 'W00.': (3, 0, 5, 0),
 'S52.': (7, 5, 4, 0),
 'C49.': (0, 1, 2, 0),
 'D86.': (1, 0, 0, 0),
 'L90.': (0, 4, 1, 0),
 'J84.': (3, 0, 0, 0),
 'I15.': (0, 2, 1, 0),
 'Z43.': (0, 0, 7, 0),
 'R29.': (1, 53, 4, 0),
 'M94.': (1, 0, 0, 0),
 'G56.': (3, 5, 5, 0),
 'O40.': (2, 1, 3, 0),
 'K59.': (8, 159, 12, 0),
 'N23.': (1, 17, 0, 0),
 'F05.': (0, 5, 7, 0),
 'O04.': (0, 0, 2, 0),
 'C80.': (0, 37, 1, 0),
 'S86.': (0, 2, 2, 0),
 'N36.': (0, 0, 1, 0),
 'D17.': (3, 1, 0, 0),
 'G92.': (3, 0, 4, 0),
 'R32.': (1, 11, 4, 0),
 'D51.': (1, 0, 0, 0),
 'A04.': (1, 0, 5, 0),
 'S62.': (3, 1, 14, 0),
 'R43.': (0, 0, 1, 0),
 'Z37.': (0, 0, 86, 0),
 'G95.': (0, 4, 3, 0),
 'S50.': (0, 0, 2, 0),
 'J35.': (2, 5, 2, 0),
 'I25.': (17, 5, 50, 0),
 'S73.': (0, 1, 2, 0),
 'I82.': (0, 3, 4, 0),
 'C24.': (0, 0, 2, 0),
 'W51.': (0, 0, 1, 0),
 'J20.': (0, 6, 1, 0),
 'D61.': (3, 0, 1, 0),
 'Z98.': (0, 0, 31, 0),
 'Z81.': (0, 0, 3, 0),
 'O35.': (0, 0, 6, 0),
 'H92.': (0, 1, 1, 0),
 'Z88.': (25, 357, 0, 0),
 'J38.': (3, 1, 7, 0),
 'R71.': (0, 2, 2, 0),
 'G14.': (1, 0, 0, 0),
 'D84.': (1, 3, 0, 0),
 'R35.': (0, 8, 3, 0),
 'L82.': (0, 0, 1, 0),
 'M50.': (0, 2, 5, 0),
 'N99.': (0, 0, 3, 0),
 'I45.': (1, 1, 1, 0),
 'I95.': (12, 13, 22, 0),
 'Z40.': (0, 0, 2, 0),
 'N19.': (1, 10, 1, 0),
 'T14.': (1, 161, 1, 0),
 'R11.': (22, 144, 19, 0),
 'T80.': (0, 0, 2, 0),
 'Q74.': (1, 0, 0, 0),
 'K31.': (3, 4, 4, 0),
 'K85.': (3, 10, 0, 0),
 'M19.': (5, 10, 26, 0),
 'W94.': (0, 0, 1, 0),
 'F44.': (1, 29, 0, 0),
 'I80.': (0, 4, 1, 0),
 'N39.': (7, 11, 12, 0),
 'I62.': (0, 3, 10, 0),
 'E87.': (21, 3, 42, 0),
 'Z45.': (0, 0, 3, 0),
 'K57.': (7, 8, 10, 0),
 'K61.': (0, 0, 1, 0),
 'S46.': (0, 1, 5, 0),
 'C53.': (1, 1, 0, 0),
 'H47.': (0, 1, 1, 0),
 'E55.': (2, 3, 8, 0),
 'M34.': (2, 0, 0, 0),
 'G57.': (1, 1, 1, 0),
 'W31.': (0, 0, 11, 0),
 'J47.': (0, 1, 2, 0),
 'N64.': (1, 6, 4, 0),
 'O61.': (1, 0, 3, 0),
 'N25.': (0, 0, 1, 0),
 'K40.': (2, 7, 0, 0),
 'J40.': (1, 5, 0, 0),
 'R56.': (3, 37, 3, 0),
 'O14.': (18, 26, 1, 0),
 'K42.': (2, 2, 1, 0),
 'Z77.': (0, 0, 1, 0),
 'O91.': (1, 0, 1, 0),
 'D18.': (1, 1, 1, 0),
 'F25.': (2, 1, 0, 0),
 'K35.': (4, 1, 0, 0),
 'T85.': (1, 1, 8, 0),
 'R26.': (2, 21, 4, 0),
 'F17.': (0, 4, 73, 0),
 'I20.': (0, 6, 1, 0),
 'R21.': (2, 48, 0, 0),
 'C85.': (0, 2, 2, 0),
 'E04.': (0, 10, 6, 0),
 'C25.': (4, 3, 7, 0),
 'C90.': (0, 1, 3, 0),
 'W01.': (3, 8, 7, 0),
 'I08.': (0, 0, 2, 0),
 'T84.': (0, 2, 9, 0),
 'D23.': (0, 0, 1, 0),
 'H35.': (1, 1, 1, 0),
 'S85.': (0, 0, 1, 0),
 'G90.': (0, 1, 3, 0),
 'W11.': (1, 0, 2, 0),
 'O86.': (0, 0, 13, 0),
 'H02.': (0, 0, 2, 0),
 'I60.': (1, 10, 1, 0),
 'K83.': (6, 7, 11, 0),
 'S55.': (1, 0, 0, 0),
 'Y79.': (0, 0, 1, 0),
 'Z90.': (1, 3, 30, 0),
 'D05.': (0, 0, 2, 0),
 'F50.': (0, 0, 1, 0),
 'R47.': (2, 6, 2, 0),
 'Z23.': (0, 0, 40, 0),
 'M13.': (5, 28, 1, 0),
 'T87.': (0, 0, 1, 0),
 'N32.': (1, 5, 2, 0),
 'G70.': (1, 0, 2, 0),
 'D70.': (0, 3, 1, 0),
 'I70.': (1, 0, 3, 0),
 'T50.': (0, 3, 2, 0),
 'W29.': (0, 0, 3, 0),
 'M31.': (2, 0, 0, 0),
 'O02.': (1, 0, 0, 0),
 'Z16.': (0, 0, 4, 0),
 'S39.': (1, 8, 0, 0),
 'Z80.': (1, 22, 23, 0),
 'K63.': (4, 8, 4, 0),
 'G60.': (0, 0, 1, 0),
 'V29.': (0, 0, 1, 0),
 'K50.': (9, 1, 4, 0),
 'F33.': (0, 2, 3, 0),
 'K27.': (0, 1, 1, 0),
 'I68.': (0, 0, 1, 0),
 'R20.': (3, 77, 5, 0),
 'C18.': (5, 12, 3, 0),
 'I89.': (5, 2, 0, 0),
 'G50.': (1, 0, 3, 0),
 'W55.': (2, 0, 0, 0),
 'E78.': (70, 14, 127, 0),
 'B95.': (0, 2, 12, 0),
 'S67.': (0, 0, 4, 0),
 'I81.': (0, 0, 2, 0),
 'R34.': (0, 6, 3, 0),
 'S14.': (0, 0, 5, 0),
 'S64.': (0, 0, 9, 0),
 'D11.': (0, 0, 2, 0),
 'M21.': (0, 2, 10, 0),
 'S80.': (1, 1, 4, 0),
 'O31.': (0, 0, 3, 0),
 'T79.': (3, 12, 5, 0),
 'N31.': (0, 0, 1, 0),
 'Z86.': (1, 20, 81, 0),
 'G47.': (18, 25, 53, 0),
 'G40.': (6, 1, 13, 0),
 'S42.': (5, 2, 5, 0),
 'J98.': (2, 17, 10, 0),
 'I71.': (7, 2, 3, 0),
 'O42.': (8, 10, 8, 0),
 'O66.': (2, 0, 1, 0),
 'A52.': (1, 0, 0, 0),
 'E07.': (0, 7, 1, 0),
 'W45.': (0, 0, 1, 0),
 'E43.': (0, 0, 3, 0),
 'K38.': (0, 0, 1, 0),
 'J90.': (4, 7, 4, 0),
 'C20.': (5, 2, 5, 0),
 'S01.': (4, 1, 7, 0),
 'B20.': (0, 0, 1, 0),
 'W25.': (0, 0, 3, 0),
 'E66.': (37, 21, 60, 0),
 'K92.': (9, 38, 4, 0),
 'C09.': (2, 0, 0, 0),
 'R16.': (1, 5, 0, 0),
 'Y99.': (0, 0, 2, 0),
 'Z00.': (0, 0, 6, 0),
 'D59.': (0, 0, 1, 0),
 'B37.': (1, 3, 1, 0)}

In [214]:



# Calculate Precision and Recall for Each ICD-10 Code
precisions = {}
recalls = {}
for icd_code in unique_icd_codes:
    TP, FP, FN, TN = counts[icd_code]
    
    # Handle division by zero
    if TP + FP == 0:
        precision = 0
    else:
        precision = TP / (TP + FP)

    if TP + FN == 0:
        recall = 0
    else:
        recall = TP / (TP + FN)
    
    precisions[icd_code] = precision
    recalls[icd_code] = recall

In [215]:
precisions

{'F43.': 0.7142857142857143,
 'X99.': 0.5,
 'W39.': 0,
 'Z15.': 0,
 'J70.': 0,
 'D53.': 0,
 'K66.': 0.4,
 'K25.': 0.16666666666666666,
 'O11.': 0,
 'S70.': 0.0,
 'Z39.': 0,
 'D65.': 0,
 'Y04.': 0.0,
 'F48.': 0,
 'K60.': 1.0,
 'S00.': 0,
 'K62.': 0.2,
 'J04.': 0,
 'S31.': 0.0,
 'K58.': 0,
 'O09.': 0,
 'R97.': 0,
 'G46.': 0,
 'R60.': 0.03571428571428571,
 'C34.': 0.3125,
 'N85.': 0.5,
 'H46.': 0,
 'Z30.': 0,
 'C73.': 0.16666666666666666,
 'R62.': 0.0,
 'E89.': 0,
 'C01.': 0,
 'H54.': 0.6666666666666666,
 'O71.': 0.0,
 'R18.': 0.5,
 'O67.': 0,
 'J30.': 0.1111111111111111,
 'O62.': 0.0,
 'Z63.': 0.0,
 'W54.': 0,
 'I05.': 0.0,
 'E05.': 0.3333333333333333,
 'R58.': 0.0053475935828877,
 'S26.': 0,
 'I67.': 0.0,
 'S68.': 0,
 'I73.': 0.38461538461538464,
 'T71.': 1.0,
 'Z09.': 0,
 'N92.': 0.0,
 'W10.': 1.0,
 'I69.': 0,
 'O76.': 0,
 'I21.': 0.3125,
 'Z83.': 0,
 'I31.': 0.5,
 'O9A.': 0,
 'C76.': 0.0,
 'E65.': 0.0,
 'N48.': 1.0,
 'H80.': 0,
 'S65.': 0,
 'J81.': 0.16666666666666666,
 'D55.': 0,
 'K22.': 0.7142857142857143,
 'N98.': 1.0,
 'H52.': 0.0,
 'R39.': 0.0,
 'D78.': 0,
 'T88.': 0.002232142857142857,
 'A15.': 0,
 'J01.': 0,
 'N11.': 0,
 'D63.': 0,
 'R82.': 0.0,
 'F79.': 0.0,
 'C64.': 0.0,
 'F51.': 0,
 'M00.': 0.3333333333333333,
 'C79.': 0.6,
 'F10.': 0.6363636363636364,
 'E06.': 0,
 'M32.': 1.0,
 'O16.': 0.0,
 'K55.': 0.75,
 'Q65.': 1.0,
 'Z99.': 0,
 'O46.': 0.5,
 'N30.': 0.3333333333333333,
 'Y09.': 0.3333333333333333,
 'R33.': 0.4444444444444444,
 'S20.': 0,
 'O20.': 0,
 'C71.': 0,
 'G82.': 1.0,
 'I42.': 0.42857142857142855,
 'O30.': 1.0,
 'W34.': 0.0,
 'Y69.': 0,
 'M41.': 0,
 'K13.': 0.0,
 'S66.': 0,
 'L98.': 0.08695652173913043,
 'G30.': 0.625,
 'X95.': 0,
 'K56.': 0.6538461538461539,
 'V47.': 0,
 'L57.': 0,
 'Z91.': 0.0,
 'E22.': 0,
 'Z04.': 0,
 'D32.': 0.25,
 'D49.': 0,
 'I13.': 0,
 'H53.': 0.07692307692307693,
 'V00.': 0,
 'I50.': 0.75,
 'Z21.': 0,
 'J34.': 0.0,
 'E44.': 0,
 'Z33.': 0.010526315789473684,
 'C55.': 0.0,
 'S76.': 0,
 'Y82.': 0,
 'N18.': 0.8333333333333334,
 'O69.': 0.8333333333333334,
 'O33.': 1.0,
 'O98.': 0,
 'Y65.': 0,
 'E21.': 0.3333333333333333,
 'C43.': 0,
 'C15.': 0.0,
 'E83.': 0.36363636363636365,
 'T23.': 0,
 'C83.': 0,
 'W08.': 0,
 'R42.': 0.043478260869565216,
 'D46.': 0,
 'R64.': 0,
 'V49.': 0,
 'D89.': 0,
 'G81.': 0.4,
 'F12.': 0.5,
 'D25.': 0.15789473684210525,
 'C22.': 0.5,
 'C61.': 0.05555555555555555,
 'V43.': 0,
 'B91.': 0,
 'B96.': 0,
 'M96.': 0,
 'J15.': 0.0,
 'W20.': 0,
 'N17.': 0.9,
 'L60.': 0,
 'D62.': 1.0,
 'M26.': 0,
 'N73.': 0.0,
 'R05.': 0.02631578947368421,
 'S30.': 1.0,
 'W15.': 0,
 'Q27.': 1.0,
 'D56.': 1.0,
 'Q90.': 1.0,
 'I36.': 0,
 'Q89.': 0.1111111111111111,
 'T68.': 0,
 'M18.': 0,
 'O72.': 0.8571428571428571,
 'I74.': 0.3333333333333333,
 'L03.': 0.5185185185185185,
 'C77.': 0,
 'N60.': 0.0,
 'X83.': 0,
 'C54.': 0.0,
 'I35.': 0.5789473684210527,
 'R65.': 0,
 'O90.': 1.0,
 'M62.': 0.16666666666666666,
 'R04.': 0.0,
 'F42.': 0,
 'K43.': 0.46153846153846156,
 'S02.': 0.8181818181818182,
 'S60.': 0,
 'H91.': 0.5,
 'G35.': 0.75,
 'T41.': 0,
 'M87.': 0,
 'I99.': 0.05,
 'Z95.': 0.0,
 'T45.': 0,
 'J93.': 0.18181818181818182,
 'Z67.': 0,
 'S61.': 0.5,
 'S53.': 0,
 'B19.': 0,
 'R52.': 0.0014727540500736377,
 'S32.': 1.0,
 'R12.': 0.14285714285714285,
 'I61.': 0.6,
 'J39.': 0.375,
 'M86.': 0.0,
 'X58.': 0,
 'R19.': 0.0028735632183908046,
 'C32.': 0,
 'D27.': 0,
 'G24.': 1.0,
 'J09.': 0,
 'I46.': 0.4230769230769231,
 'J80.': 0.5,
 'I10.': 0.22857142857142856,
 'G58.': 0.5,
 'F98.': 0,
 'O99.': 1.0,
 'E85.': 1.0,
 'R57.': 0.6,
 'T43.': 0,
 'L40.': 0.4,
 'R17.': 0.03125,
 'Y93.': 0,
 'S54.': 0.0,
 'M60.': 1.0,
 'N83.': 0.1875,
 'A60.': 0.0,
 'F14.': 0,
 'F20.': 0.5,
 'M17.': 0.75,
 'D83.': 1.0,
 'C56.': 0,
 'K70.': 0.8,
 'R14.': 0.0,
 'I51.': 0.04,
 'D12.': 0.0,
 'M79.': 0.1111111111111111,
 'I87.': 0.5,
 'D68.': 0.35294117647058826,
 'F63.': 0.0,
 'F84.': 1.0,
 'J06.': 0,
 'I83.': 0.0,
 'O22.': 0,
 'K08.': 0.0,
 'T83.': 0,
 'O70.': 0.0,
 'S21.': 0.0,
 'R68.': 0.05128205128205128,
 'M24.': 0.5,
 'S92.': 1.0,
 'O43.': 0.5,
 'O21.': 1.0,
 'M67.': 0,
 'S06.': 0.5714285714285714,
 'K21.': 0.7924528301886793,
 'L02.': 0.45454545454545453,
 'O08.': 0,
 'K80.': 0.8125,
 'I49.': 0.25,
 'S43.': 0,
 'K72.': 0.6666666666666666,
 'I48.': 0.9491525423728814,
 'D69.': 1.0,
 'O00.': 0.75,
 'E86.': 0.5555555555555556,
 'B00.': 1.0,
 'R09.': 0.054945054945054944,
 'W69.': 0,
 'H40.': 0.6363636363636364,
 'I44.': 0.5,
 'S51.': 0,
 'F31.': 0.7142857142857143,
 'M16.': 0.75,
 'I97.': 0,
 'R23.': 0.0,
 'O75.': 0,
 'E53.': 0,
 'Z17.': 0,
 'W22.': 0,
 'B35.': 0,
 'M53.': 0.5,
 'L97.': 0.8,
 'H66.': 1.0,
 'Z74.': 0,
 'S56.': 0,
 'V48.': 0,
 'F09.': 0,
 'Z72.': 0.07407407407407407,
 'T81.': 0.03333333333333333,
 'S93.': 0,
 'G83.': 0.0,
 'K26.': 0.5,
 'H49.': 0.0,
 'I65.': 0.42857142857142855,
 'J95.': 0,
 'L89.': 0,
 'J45.': 0.5857142857142857,
 'S34.': 0,
 'O60.': 0.2708333333333333,
 'D66.': 1.0,
 'J11.': 0.25,
 'I27.': 0.5,
 'Z14.': 0,
 'M97.': 0,
 'I22.': 0,
 'A08.': 0.5,
 'L08.': 0.0,
 'R59.': 0.0625,
 'Z85.': 0.0,
 'R06.': 0.03305785123966942,
 'J69.': 0.6,
 'Z92.': 0.0,
 'A54.': 0,
 'N80.': 0.1,
 'O48.': 1.0,
 'R91.': 0.0,
 'G93.': 0.6129032258064516,
 'O47.': 0.40625,
 'M40.': 0.0,
 'L50.': 0.0,
 'W23.': 0,
 'S22.': 0.7692307692307693,
 'Z59.': 0.6,
 'E11.': 0.7368421052631579,
 'K90.': 0.5714285714285714,
 'N71.': 0.0,
 'V03.': 0,
 'D50.': 0.2857142857142857,
 'K51.': 0.3333333333333333,
 'A09.': 0.018518518518518517,
 'T78.': 0.11764705882352941,
 'J96.': 0.6538461538461539,
 'Z66.': 0,
 'N28.': 0.3333333333333333,
 'H93.': 0.0,
 'C91.': 0,
 'C26.': 0.0,
 'S27.': 0.75,
 'M20.': 1.0,
 'F15.': 0,
 'T18.': 0,
 'W13.': 0,
 'Y83.': 1.0,
 'M75.': 0.45454545454545453,
 'J44.': 0.78125,
 'J02.': 0.3333333333333333,
 'T46.': 0,
 'A46.': 1.0,
 'Z89.': 0,
 'Q21.': 0,
 'T86.': 0,
 'K86.': 0.5,
 'L12.': 1.0,
 'F32.': 0.4666666666666667,
 'I85.': 0.4,
 'O12.': 0,
 'I96.': 0,
 'L72.': 0,
 'Z82.': 0.03669724770642202,
 'W18.': 0,
 'F40.': 0,
 'B18.': 0.28,
 'M06.': 0.8333333333333334,
 'I47.': 0.5,
 'R40.': 0.13114754098360656,
 'Y08.': 0,
 'K44.': 0.25,
 'K76.': 0.47619047619047616,
 'T82.': 0,
 'O64.': 0,
 'R55.': 0.19047619047619047,
 'V86.': 0,
 'T54.': 0,
 'Z53.': 0.0,
 'Q61.': 0,
 'E46.': 0,
 'D34.': 0,
 'D24.': 0.0,
 'N49.': 0,
 'N35.': 0.5,
 'T40.': 0.0,
 'I34.': 0.3333333333333333,
 'R93.': 0.0,
 'K20.': 0.5714285714285714,
 'W26.': 0,
 'N50.': 0.5,
 'N62.': 0.5,
 'J42.': 0,
 'C92.': 0,
 'J18.': 0.2962962962962963,
 'I23.': 0,
 'R51.': 0.09210526315789473,
 'C16.': 0.4444444444444444,
 'S83.': 0.0,
 'K74.': 0.47058823529411764,
 'T42.': 0,
 'V28.': 0,
 'N65.': 0,
 'L30.': 0.5,
 'H26.': 0.25,
 'G45.': 0.0,
 'R49.': 0.1,
 'K75.': 0.2222222222222222,
 'G91.': 0.6666666666666666,
 'C67.': 0.4,
 'H90.': 0.3333333333333333,
 'S12.': 0.8,
 'G89.': 0,
 'E10.': 0.5,
 'R73.': 0.5,
 'G25.': 0.25,
 'L05.': 0.3333333333333333,
 'M10.': 0.6666666666666666,
 'W19.': 0,
 'Z3A.': 0,
 'R78.': 0,
 'I11.': 0,
 'R94.': 0.0,
 'Z48.': 0,
 'E75.': 1.0,
 'K41.': 0,
 'O28.': 0,
 'G62.': 0.36363636363636365,
 'I16.': 0,
 'F19.': 0.0,
 'S63.': 0,
 'O32.': 1.0,
 'T21.': 1.0,
 'F90.': 0.3333333333333333,
 'S72.': 0.75,
 'O41.': 0.4444444444444444,
 'O23.': 0.0,
 'Z93.': 0,
 'W27.': 0,
 'M54.': 0.13432835820895522,
 'O45.': 0.3333333333333333,
 'V80.': 0,
 'Z87.': 0.125,
 'G43.': 0.2608695652173913,
 'D75.': 0,
 'K28.': 0.5,
 'R53.': 0.07291666666666667,
 'K82.': 0.3333333333333333,
 'R22.': 0.0,
 'M12.': 0,
 'M65.': 0.6666666666666666,
 'G72.': 0,
 'N13.': 0.75,
 'D64.': 0.3939393939393939,
 'R31.': 0.3333333333333333,
 'O24.': 0.6,
 'O10.': 0,
 'K65.': 0.2,
 'C78.': 0.7,
 'M47.': 0.6666666666666666,
 'L73.': 0.6666666666666666,
 'Z22.': 0,
 'M84.': 1.0,
 'V18.': 0,
 'F41.': 0.5,
 'M35.': 0.42857142857142855,
 'Q28.': 0,
 'F11.': 0.5,
 'T38.': 0,
 'G97.': 0.0,
 'X50.': 0,
 'Z51.': 0,
 'Q18.': 0.5,
 'Y90.': 0,
 'X31.': 0,
 'G20.': 1.0,
 'X16.': 0,
 'E73.': 0.5,
 'M25.': 0.26666666666666666,
 'Y92.': 0,
 'L29.': 0.0,
 'M43.': 0.0,
 'Z47.': 0,
 'O89.': 0,
 'M51.': 0.25,
 'Z28.': 0,
 'O26.': 0,
 'F01.': 1.0,
 'J43.': 0.0,
 'Y73.': 0,
 'L01.': 1.0,
 'A63.': 0,
 'Z76.': 0,
 'Z12.': 0,
 'O13.': 0.8,
 'R50.': 0.019138755980861243,
 'F39.': 0.25,
 'R41.': 0.047619047619047616,
 'R74.': 0,
 'Q23.': 0.5,
 'Z41.': 0,
 'Z79.': 0,
 'F02.': 0,
 'E80.': 0.0,
 'O44.': 0.7142857142857143,
 'N76.': 0.2,
 'C08.': 0,
 'N52.': 0,
 'M48.': 0.4444444444444444,
 'D48.': 0.0,
 'G36.': 1.0,
 'Z97.': 0,
 'L21.': 0.5,
 'D72.': 0.18181818181818182,
 'G80.': 1.0,
 'N40.': 1.0,
 'O77.': 0,
 'N75.': 0.3333333333333333,
 'F64.': 0.6666666666666666,
 'B48.': 0,
 'S41.': 0,
 'A41.': 0.3870967741935484,
 'O74.': 0,
 'F03.': 0.4444444444444444,
 'F54.': 0,
 'V85.': 0,
 'I86.': 0.0,
 'R13.': 0.3333333333333333,
 'G03.': 0.5,
 'N61.': 0.5,
 'J91.': 0,
 'M66.': 0,
 'F30.': 1.0,
 'Z78.': 0,
 'O34.': 0,
 'Z94.': 0,
 'K52.': 0.2,
 'R00.': 0.22950819672131148,
 'Z96.': 0,
 'N97.': 0.5,
 'O63.': 0.3333333333333333,
 'M46.': 1.0,
 'D57.': 0.7142857142857143,
 'D37.': 0.0,
 'G51.': 0.5,
 'R07.': 0.056179775280898875,
 'O36.': 0.16666666666666666,
 'K91.': 0.3333333333333333,
 'E28.': 0.0,
 'E16.': 0.5,
 'R03.': 0.0,
 'Z01.': 0,
 'E03.': 0.8928571428571429,
 'N20.': 0.08108108108108109,
 'Y84.': 0,
 'T63.': 0.0,
 'K02.': 0,
 'K11.': 0.75,
 'R63.': 0.020833333333333332,
 'C84.': 0,
 'I77.': 0.3333333333333333,
 'H81.': 0,
 'V59.': 0,
 'K81.': 0.13333333333333333,
 'R45.': 0.10256410256410256,
 'Z68.': 0,
 'R10.': 0.11224489795918367,
 'M81.': 0.7692307692307693,
 'R79.': 0.0,
 'W06.': 0.5,
 'K29.': 0.0,
 'C44.': 0.0,
 'S82.': 0.8095238095238095,
 'I24.': 0.0,
 'K64.': 0.5,
 'V89.': 0,
 'I26.': 0.14285714285714285,
 'L76.': 0,
 'M85.': 0.75,
 'V19.': 0.0,
 'S37.': 0.0,
 'I63.': 0.375,
 'V88.': 0,
 'T70.': 0.0,
 'F53.': 0.0,
 'C50.': 0.1,
 'I12.': 0.0,
 'S36.': 0.75,
 'E23.': 0.6666666666666666,
 'R44.': 0.0,
 'Q71.': 0,
 'E27.': 1.0,
 'N94.': 0.0,
 'R25.': 0.0,
 'W00.': 1.0,
 'S52.': 0.5833333333333334,
 'C49.': 0.0,
 'D86.': 1.0,
 'L90.': 0.0,
 'J84.': 1.0,
 'I15.': 0.0,
 'Z43.': 0,
 'R29.': 0.018518518518518517,
 'M94.': 1.0,
 'G56.': 0.375,
 'O40.': 0.6666666666666666,
 'K59.': 0.04790419161676647,
 'N23.': 0.05555555555555555,
 'F05.': 0.0,
 'O04.': 0,
 'C80.': 0.0,
 'S86.': 0.0,
 'N36.': 0,
 'D17.': 0.75,
 'G92.': 1.0,
 'R32.': 0.08333333333333333,
 'D51.': 1.0,
 'A04.': 1.0,
 'S62.': 0.75,
 'R43.': 0,
 'Z37.': 0,
 'G95.': 0.0,
 'S50.': 0,
 'J35.': 0.2857142857142857,
 'I25.': 0.7727272727272727,
 'S73.': 0.0,
 'I82.': 0.0,
 'C24.': 0,
 'W51.': 0,
 'J20.': 0.0,
 'D61.': 1.0,
 'Z98.': 0,
 'Z81.': 0,
 'O35.': 0,
 'H92.': 0.0,
 'Z88.': 0.06544502617801047,
 'J38.': 0.75,
 'R71.': 0.0,
 'G14.': 1.0,
 'D84.': 0.25,
 'R35.': 0.0,
 'L82.': 0,
 'M50.': 0.0,
 'N99.': 0,
 'I45.': 0.5,
 'I95.': 0.48,
 'Z40.': 0,
 'N19.': 0.09090909090909091,
 'T14.': 0.006172839506172839,
 'R11.': 0.13253012048192772,
 'T80.': 0,
 'Q74.': 1.0,
 'K31.': 0.42857142857142855,
 'K85.': 0.23076923076923078,
 'M19.': 0.3333333333333333,
 'W94.': 0,
 'F44.': 0.03333333333333333,
 'I80.': 0.0,
 'N39.': 0.3888888888888889,
 'I62.': 0.0,
 'E87.': 0.875,
 'Z45.': 0,
 'K57.': 0.4666666666666667,
 'K61.': 0,
 'S46.': 0.0,
 'C53.': 0.5,
 'H47.': 0.0,
 'E55.': 0.4,
 'M34.': 1.0,
 'G57.': 0.5,
 'W31.': 0,
 'J47.': 0.0,
 'N64.': 0.14285714285714285,
 'O61.': 1.0,
 'N25.': 0,
 'K40.': 0.2222222222222222,
 'J40.': 0.16666666666666666,
 'R56.': 0.075,
 'O14.': 0.4090909090909091,
 'K42.': 0.5,
 'Z77.': 0,
 'O91.': 1.0,
 'D18.': 0.5,
 'F25.': 0.6666666666666666,
 'K35.': 0.8,
 'T85.': 0.5,
 'R26.': 0.08695652173913043,
 'F17.': 0.0,
 'I20.': 0.0,
 'R21.': 0.04,
 'C85.': 0.0,
 'E04.': 0.0,
 'C25.': 0.5714285714285714,
 'C90.': 0.0,
 'W01.': 0.2727272727272727,
 'I08.': 0,
 'T84.': 0.0,
 'D23.': 0,
 'H35.': 0.5,
 'S85.': 0,
 'G90.': 0.0,
 'W11.': 1.0,
 'O86.': 0,
 'H02.': 0,
 'I60.': 0.09090909090909091,
 'K83.': 0.46153846153846156,
 'S55.': 1.0,
 'Y79.': 0,
 'Z90.': 0.25,
 'D05.': 0,
 'F50.': 0,
 'R47.': 0.25,
 'Z23.': 0,
 'M13.': 0.15151515151515152,
 'T87.': 0,
 'N32.': 0.16666666666666666,
 'G70.': 1.0,
 'D70.': 0.0,
 'I70.': 1.0,
 'T50.': 0.0,
 'W29.': 0,
 'M31.': 1.0,
 'O02.': 1.0,
 'Z16.': 0,
 'S39.': 0.1111111111111111,
 'Z80.': 0.043478260869565216,
 'K63.': 0.3333333333333333,
 'G60.': 0,
 'V29.': 0,
 'K50.': 0.9,
 'F33.': 0.0,
 'K27.': 0.0,
 'I68.': 0,
 'R20.': 0.0375,
 'C18.': 0.29411764705882354,
 'I89.': 0.7142857142857143,
 'G50.': 1.0,
 'W55.': 1.0,
 'E78.': 0.8333333333333334,
 'B95.': 0.0,
 'S67.': 0,
 'I81.': 0,
 'R34.': 0.0,
 'S14.': 0,
 'S64.': 0,
 'D11.': 0,
 'M21.': 0.0,
 'S80.': 0.5,
 'O31.': 0,
 'T79.': 0.2,
 'N31.': 0,
 'Z86.': 0.047619047619047616,
 'G47.': 0.4186046511627907,
 'G40.': 0.8571428571428571,
 'S42.': 0.7142857142857143,
 'J98.': 0.10526315789473684,
 'I71.': 0.7777777777777778,
 'O42.': 0.4444444444444444,
 'O66.': 1.0,
 'A52.': 1.0,
 'E07.': 0.0,
 'W45.': 0,
 'E43.': 0,
 'K38.': 0,
 'J90.': 0.36363636363636365,
 'C20.': 0.7142857142857143,
 'S01.': 0.8,
 'B20.': 0,
 'W25.': 0,
 'E66.': 0.6379310344827587,
 'K92.': 0.19148936170212766,
 'C09.': 1.0,
 'R16.': 0.16666666666666666,
 'Y99.': 0,
 'Z00.': 0,
 'D59.': 0,
 'B37.': 0.25}

In [216]:
# Step 6: Calculate Macro Precision and Macro Recall
macro_precision = sum(precisions.values()) / len(precisions)
macro_recall = sum(recalls.values()) / len(recalls)

In [217]:
macro_precision

0.25480627983822546

In [218]:
macro_recall

0.2614478634770317

In [219]:
# Calculate F1 Score for Each ICD-10 Code
f1_scores = {}
for icd_code in unique_icd_codes:
    precision = precisions[icd_code]
    recall = recalls[icd_code]

    # Handle division by zero for precision and recall
    if precision + recall == 0:
        f1_score = 0
    else:
        f1_score = 2 * (precision * recall) / (precision + recall)

    f1_scores[icd_code] = f1_score

In [220]:
# Step 8: Calculate Macro F1 Score
macro_f1_score = sum(f1_scores.values()) / len(f1_scores)

# Now you have macro precision, macro recall, and macro F1 score for your multi-label classification evaluation.

In [221]:
macro_f1_score

0.21759007655623386

In [222]:
# Calculate Precision and Recall for Each ICD-10 Code
precisions = {}
recalls = {}
for icd_code in unique_icd_codes:
    TP, FP, FN, TN = counts[icd_code]
    
    # Handle division by zero
    if TP + FP == 0:
        precision = 0
    else:
        precision = TP / (TP + FP)

    if TP + FN == 0:
        recall = 0
    else:
        recall = TP / (TP + FN)
    
    precisions[icd_code] = precision
    recalls[icd_code] = recall

# Filter out zero precision values and calculate average precision
average_precision = np.mean([precision for precision in precisions.values() if precision > 0])

In [223]:
average_precision

0.5170079926005156

In [224]:
average_recall = np.mean([recall for recall in recalls.values() if recall > 0])

In [225]:
average_recall

0.5304839235193599

In [226]:
# Calculate F1 Score for Each ICD-10 Code
f1_scores = {}
for icd_code in unique_icd_codes:
    precision = precisions[icd_code]
    recall = recalls[icd_code]

    # Handle division by zero for precision and recall
    if precision + recall == 0:
        f1_score = 0
    else:
        f1_score = 2 * (precision * recall) / (precision + recall)

    f1_scores[icd_code] = f1_score

In [227]:
average_f1 = np.mean([f1_score for f1_score in f1_scores.values() if f1_score > 0])

In [228]:
average_f1

0.4414954323792708

In [229]:
len([f1_score for f1_score in f1_scores.values() if f1_score > 0])

379

#### Top 50 ICD codes identification

In [230]:
top_50_icd_codes = icd_codes_with_smallest_size_notes['icd_code'].value_counts().index[:50]
top_50_icd_codes

Index(['Y92.', 'O99.', 'I10.', 'E78.', 'Z87.', 'Z3A.', 'Z51.', 'Z85.', 'E11.',
       'Z79.', 'Z68.', 'F41.', 'K21.', 'F32.', 'Z66.', 'Z86.', 'E66.', 'I25.',
       'Z37.', 'E87.', 'J45.', 'I48.', 'E03.', 'F17.', 'G47.', 'Y83.', 'Z95.',
       'J96.', 'G93.', 'O26.', 'N17.', 'N18.', 'G89.', 'C78.', 'J44.', 'D64.',
       'R40.', 'O34.', 'Z80.', 'O09.', 'R11.', 'I50.', 'Z23.', 'S06.', 'M19.',
       'N40.', 'I12.', 'I95.', 'S62.', 'O70.'],
      dtype='object')

In [231]:
filtered_test_notes = final_notes_with_icd_codes[final_notes_with_icd_codes['icd_code'].isin(top_50_icd_codes)]

filtered_test_notes

       hadm_id                                               text icd_code
3     20019282  sex m orthopaedics allergies erythromycin base...     Y92.
7     20022343  sex f obstetricsgynecology allergies bactrim p...     O34.
9     20022343  sex f obstetricsgynecology allergies bactrim p...     Z3A.
10    20022343  sex f obstetricsgynecology allergies bactrim p...     Z37.
11    20025548  sex f obstetricsgynecology allergies no known ...     O99.
...        ...                                                ...      ...
8578  29990058  sex f obstetricsgynecology allergies no known ...     Z3A.
8579  29990058  sex f obstetricsgynecology allergies no known ...     Z37.
8581  29990058  sex f obstetricsgynecology allergies no known ...     Z23.
8582  29990058  sex f obstetricsgynecology allergies no known ...     Z86.
8583  29990058  sex f obstetricsgynecology allergies no known ...     K21.

[4328 rows x 3 columns]

In [232]:
filtered_unique_hadm_notes = filtered_test_notes[['hadm_id', 'text']].drop_duplicates(subset='hadm_id')

In [233]:
filtered_unique_hadm_notes = filtered_unique_hadm_notes.reset_index(drop = True)
filtered_unique_hadm_notes

      hadm_id                                               text
0    20019282  sex m orthopaedics allergies erythromycin base...
1    20022343  sex f obstetricsgynecology allergies bactrim p...
2    20025548  sex f obstetricsgynecology allergies no known ...
3    20027416  sex m otolaryngology allergies ragweed chief c...
4    20028418  sex f medicine allergies erythromycin base pac...
..        ...                                                ...
929  29980814  sex f obstetricsgynecology allergies gelatin c...
930  29980930  sex f medicine allergies morphine chief compla...
931  29987299  sex m medicine allergies none attach  laborato...
932  29988390  sex f surgery allergies animal danderpollendus...
933  29990058  sex f obstetricsgynecology allergies no known ...

[934 rows x 2 columns]

In [234]:
filtered_icd10_data = {
    'hadm_id': [],
    'icd10_codes': []
}

In [235]:
unique_icd_codes = set(filtered_test_notes['icd_code'])

In [236]:
# Step 3: Initialize TP, FP, FN, TN counts
filtered_counts = {icd_code: (0, 0, 0, 0) for icd_code in unique_icd_codes}

In [237]:
i = 0
for icd_code in unique_icd_codes:
    i+=1
    if i%10 == 0:
        print(f'{i} codes are done!')
    
    true_icd_codes = filtered_test_notes[filtered_test_notes['icd_code'] == icd_code]['hadm_id'].values
    predicted_icd_codes = df_icd10[df_icd10['icd10_codes'].apply(lambda x: icd_code in x)]['hadm_id'].values

    TP = np.intersect1d(true_icd_codes, predicted_icd_codes)
    FP = np.setdiff1d(predicted_icd_codes, true_icd_codes)
    FN = np.setdiff1d(true_icd_codes, predicted_icd_codes)
    TN = len(np.union1d(predicted_icd_codes, true_icd_codes)) -len(TP) -len(FP) -len(FN)


    filtered_counts[icd_code] = (len(TP), len(FP), len(FN), TN)

10 codes are done!
20 codes are done!
30 codes are done!
40 codes are done!
50 codes are done!

In [238]:
filtered_counts

{'O26.': (0, 0, 49, 0),
 'S62.': (3, 1, 14, 0),
 'Z95.': (0, 1, 48, 0),
 'Z87.': (2, 14, 184, 0),
 'Z37.': (0, 0, 86, 0),
 'O34.': (0, 0, 42, 0),
 'E78.': (70, 14, 127, 0),
 'Y83.': (7, 0, 64, 0),
 'J44.': (25, 7, 20, 0),
 'F17.': (0, 4, 73, 0),
 'I25.': (17, 5, 50, 0),
 'Z79.': (0, 0, 122, 0),
 'D64.': (13, 20, 32, 0),
 'O70.': (0, 1, 33, 0),
 'J45.': (41, 29, 39, 0),
 'C78.': (7, 3, 26, 0),
 'F32.': (28, 32, 72, 0),
 'I50.': (15, 5, 24, 0),
 'I12.': (0, 2, 34, 0),
 'Z86.': (1, 20, 81, 0),
 'G47.': (18, 25, 53, 0),
 'I10.': (8, 27, 216, 0),
 'N17.': (9, 1, 44, 0),
 'S06.': (8, 6, 19, 0),
 'K21.': (42, 11, 62, 0),
 'I95.': (12, 13, 22, 0),
 'G89.': (0, 0, 51, 0),
 'F41.': (48, 48, 58, 0),
 'O99.': (2, 0, 128, 0),
 'N40.': (1, 0, 33, 0),
 'Z85.': (0, 2, 111, 0),
 'Z23.': (0, 0, 40, 0),
 'I48.': (56, 3, 18, 0),
 'E03.': (50, 6, 24, 0),
 'R11.': (22, 144, 19, 0),
 'O09.': (0, 0, 36, 0),
 'Z3A.': (0, 0, 193, 0),
 'R40.': (8, 53, 12, 0),
 'N18.': (15, 3, 37, 0),
 'Z51.': (0, 0, 133, 0),
 'M19.': (5, 10, 26, 0),
 'G93.': (19, 12, 23, 0),
 'E66.': (37, 21, 60, 0),
 'Y92.': (0, 0, 245, 0),
 'E87.': (21, 3, 42, 0),
 'Z68.': (0, 0, 109, 0),
 'E11.': (14, 5, 84, 0),
 'Z80.': (1, 22, 23, 0),
 'J96.': (17, 9, 38, 0),
 'Z66.': (0, 0, 100, 0)}

In [239]:

# Calculate Precision and Recall for Each ICD-10 Code
filtered_precisions = {}
filtered_recalls = {}
for icd_code in unique_icd_codes:
    TP, FP, FN, TN = filtered_counts[icd_code]
    
    # Handle division by zero
    if TP + FP == 0:
        precision = 0
    else:
        precision = TP / (TP + FP)

    if TP + FN == 0:
        recall = 0
    else:
        recall = TP / (TP + FN)
    
    filtered_precisions[icd_code] = precision
    filtered_recalls[icd_code] = recall

In [240]:
filtered_precisions

{'O26.': 0,
 'S62.': 0.75,
 'Z95.': 0.0,
 'Z87.': 0.125,
 'Z37.': 0,
 'O34.': 0,
 'E78.': 0.8333333333333334,
 'Y83.': 1.0,
 'J44.': 0.78125,
 'F17.': 0.0,
 'I25.': 0.7727272727272727,
 'Z79.': 0,
 'D64.': 0.3939393939393939,
 'O70.': 0.0,
 'J45.': 0.5857142857142857,
 'C78.': 0.7,
 'F32.': 0.4666666666666667,
 'I50.': 0.75,
 'I12.': 0.0,
 'Z86.': 0.047619047619047616,
 'G47.': 0.4186046511627907,
 'I10.': 0.22857142857142856,
 'N17.': 0.9,
 'S06.': 0.5714285714285714,
 'K21.': 0.7924528301886793,
 'I95.': 0.48,
 'G89.': 0,
 'F41.': 0.5,
 'O99.': 1.0,
 'N40.': 1.0,
 'Z85.': 0.0,
 'Z23.': 0,
 'I48.': 0.9491525423728814,
 'E03.': 0.8928571428571429,
 'R11.': 0.13253012048192772,
 'O09.': 0,
 'Z3A.': 0,
 'R40.': 0.13114754098360656,
 'N18.': 0.8333333333333334,
 'Z51.': 0,
 'M19.': 0.3333333333333333,
 'G93.': 0.6129032258064516,
 'E66.': 0.6379310344827587,
 'Y92.': 0,
 'E87.': 0.875,
 'Z68.': 0,
 'E11.': 0.7368421052631579,
 'Z80.': 0.043478260869565216,
 'J96.': 0.6538461538461539,
 'Z66.': 0}

In [241]:
filtered_recalls

{'O26.': 0.0,
 'S62.': 0.17647058823529413,
 'Z95.': 0.0,
 'Z87.': 0.010752688172043012,
 'Z37.': 0.0,
 'O34.': 0.0,
 'E78.': 0.3553299492385787,
 'Y83.': 0.09859154929577464,
 'J44.': 0.5555555555555556,
 'F17.': 0.0,
 'I25.': 0.2537313432835821,
 'Z79.': 0.0,
 'D64.': 0.28888888888888886,
 'O70.': 0.0,
 'J45.': 0.5125,
 'C78.': 0.21212121212121213,
 'F32.': 0.28,
 'I50.': 0.38461538461538464,
 'I12.': 0.0,
 'Z86.': 0.012195121951219513,
 'G47.': 0.2535211267605634,
 'I10.': 0.03571428571428571,
 'N17.': 0.16981132075471697,
 'S06.': 0.2962962962962963,
 'K21.': 0.40384615384615385,
 'I95.': 0.35294117647058826,
 'G89.': 0.0,
 'F41.': 0.4528301886792453,
 'O99.': 0.015384615384615385,
 'N40.': 0.029411764705882353,
 'Z85.': 0.0,
 'Z23.': 0.0,
 'I48.': 0.7567567567567568,
 'E03.': 0.6756756756756757,
 'R11.': 0.5365853658536586,
 'O09.': 0.0,
 'Z3A.': 0.0,
 'R40.': 0.4,
 'N18.': 0.28846153846153844,
 'Z51.': 0.0,
 'M19.': 0.16129032258064516,
 'G93.': 0.4523809523809524,
 'E66.': 0.38144329896907214,
 'Y92.': 0.0,
 'E87.': 0.3333333333333333,
 'Z68.': 0.0,
 'E11.': 0.14285714285714285,
 'Z80.': 0.041666666666666664,
 'J96.': 0.3090909090909091,
 'Z66.': 0.0}

In [242]:
# Step 6: Calculate Macro Precision and Macro Recall
macro_precision = sum(filtered_precisions.values()) / len(filtered_precisions)
macro_recall = sum(filtered_recalls.values()) / len(filtered_recalls)

In [243]:
macro_precision

0.3985932454996356

In [244]:
macro_recall

0.19260102345192462

In [245]:
# Calculate F1 Score for Each ICD-10 Code
filtered_f1_scores = {}
for icd_code in unique_icd_codes:
    precision = filtered_precisions[icd_code]
    recall = filtered_recalls[icd_code]

    # Handle division by zero for precision and recall
    if precision + recall == 0:
        f1_score = 0
    else:
        f1_score = 2 * (precision * recall) / (precision + recall)

    filtered_f1_scores[icd_code] = f1_score

In [246]:
# Step 8: Calculate Macro F1 Score
macro_f1_score = sum(filtered_f1_scores.values()) / len(filtered_f1_scores)

# Now you have macro precision, macro recall, and macro F1 score for your multi-label classification evaluation.

In [247]:
macro_f1_score

0.23011675504957096

In [248]:
# Calculate Precision and Recall for Each ICD-10 Code
filtered_precisions = {}
filtered_recalls = {}
for icd_code in unique_icd_codes:
    TP, FP, FN, TN = filtered_counts[icd_code]
    
    # Handle division by zero
    if TP + FP == 0:
        precision = 0
    else:
        precision = TP / (TP + FP)

    if TP + FN == 0:
        recall = 0
    else:
        recall = TP / (TP + FN)
    
    filtered_precisions[icd_code] = precision
    filtered_recalls[icd_code] = recall    
    
    
    
    
    
# Filter out zero precision values and calculate average precision
average_precision = np.mean([precision for precision in filtered_precisions.values() if precision > 0])

In [249]:
average_precision

0.6039291598479328

In [250]:
average_recall = np.mean([recall for recall in filtered_recalls.values() if recall > 0])

In [251]:
average_recall

0.29181973250291615

In [252]:
# Calculate F1 Score for Each ICD-10 Code
filtered_f1_scores = {}
for icd_code in unique_icd_codes:
    precision = filtered_precisions[icd_code]
    recall = filtered_recalls[icd_code]

    # Handle division by zero for precision and recall
    if precision + recall == 0:
        f1_score = 0
    else:
        f1_score = 2 * (precision * recall) / (precision + recall)

    filtered_f1_scores[icd_code] = f1_score

In [253]:
average_f1 = np.mean([f1_score for f1_score in filtered_f1_scores.values() if f1_score > 0])

In [254]:
average_f1

0.34866175007510763